<div id="header">
  <nav id="login">
  <% if user_signed_in? %>
    <% project_init %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    -
    <%= link_to "Today's Menu", "/" %>
		-
    <%= link_to "SushiApp List", "/sushi_application" %>
    -
    <%= link_to "Help", "/sushi_doc_md.html" %>
    <%= form_tag(:action => "index", :controller => "home") do %>
      Project 
      <%= text_field :project, :number, :value=>"#{session[:project]}", :size=>10 %>
      <%= select :select_project, :number, session[:projects], :prompt=>'project list' %>
      <%= submit_tag "Go" %>
    <% end %>
  <% elsif !SushiFabric::Application.config.fgcz? %>
    <%= link_to "Today's Menu", "/" %>
		-
    <%= link_to "SushiApp List", "/sushi_application" %>
    -
    <%= link_to "Help", "/sushi_doc_md.html" %>
  <% end %>
  </nav>
  <h1>SushiFabric</h1>
</div>
