<script type="text/javascript">
   $(function(){
       $('#select_project_number').change(function(){
         var Idx = this.selectedIndex;
         var project_number = this.options[Idx].text;
         $('#project_number').val(project_number);
         this.form.submit();
       })
       $('#bfabric_registration_off').change(function(){
         var Idx = this.selectedIndex;
         var on_off = this.options[Idx].text;
         this.form.submit();
       })

   });
</script>
<div id="header">
  <nav id="login">
  <% if user_signed_in? %>
    <% project_init %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    -
    <%= link_to "Today's Menu", "/" %>
		-
    <%= link_to "SushiApp List", "/sushi_application" %>
    -
    <%= link_to "Help", "/sushi_doc_md.html" %>
    <%= form_tag(:action => "index", :controller => "home") do %>
      Project 
      <%= text_field :project, :number, :value=>"#{session[:project]}", :size=>10 %>
      <%= select :select_project, :number, session[:projects], :prompt=>'project list' %>
      <% if session[:employee] %>
      BF<%= select :bfabric_registration, :off, ["ON", "OFF"], :selected=>(session[:off_bfabric_registration] ? 'OFF' : 'ON') %>
      <% end %>
    <% end %>
  <% elsif !SushiFabric::Application.config.fgcz? %>
    <%= link_to "Today's Menu", "/" %>
		-
    <%= link_to "SushiApp List", "/sushi_application" %>
    -
    <%= link_to "Help", "/sushi_doc_md.html" %>
  <% end %>
  </nav>
  <h1>SushiFabric</h1>
</div>
