<script type="text/javascript">
   $(function(){
       $('#select_project_number').change(function(){
         var Idx = this.selectedIndex;
         var project_number = this.options[Idx].text;
         $('#project_number').val(project_number);
         this.form.submit();
       })
       
       // Update notification count periodically
       function updateNotificationCount() {
         $.get('/notifications/unread_count', function(data) {
           var count = data.count;
           if (count > 0) {
             $('#notification-count').text(count).show();
           } else {
             $('#notification-count').hide();
           }
         });
       }
       
       // Update count on page load
       updateNotificationCount();
       
       // Update count every 60 seconds
       setInterval(updateNotificationCount, 60000);
   });
</script>

<nav class="navbar navbar-default navbar-fixed-top" style="height: 65px !important;">
    <div class="container" style="width: 1100px;">
<!--         <div class="navbar-header"> -->

      <%= link_to "/", :method => :get, :class => 'navbar-brand', :style => "margin-left: 0" do %>
      <%= image_tag "sushifabric.png", class: "img-responsive" %>
      <% end %>

        <!-- </div> -->
        <!-- menu navigation bar -->
        <div id="navbar" class="navbar-collapse collapse list-inline">
            <ul class="nav navbar-nav" style="float: left !important;margin: 0 5px !important;">
                  <li style="padding: 0px 3px;line-height:60px;">-</li>
                  <li><%= link_to 'DataSets', '/data_set', :method => :get, :style => "padding: 0px 3px;line-height:60px;" %></li>
                  <li style="padding: 0px 3px;line-height:60px;">-</li>
                  <li><%= link_to 'Import', '/data_set/import', :method => :post, :style => "padding: 0px 3px;line-height:60px;" %></li>
                  <li style="padding: 0px 3px;line-height:60px;">-</li>
                  <li><%= link_to 'Jobs', '/job_monitoring', :style => "padding: 0px 3px;line-height:60px;" %></li>
                  <li style="padding: 0px 3px;line-height:60px;">-</li>
                  <li><%= link_to 'gStore', "/projects/p#{session[:project]}", :style => "padding: 0px 3px;line-height:60px;" %></li>
            </ul>

            <ul class="nav navbar-nav" style="float: left !important;margin: 0 5px !important;">
                <li class="dropdown" style="padding: 0">
                   <a href="#" style="padding: 0px;line-height:60px;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq.html" target="_blank">FAQ</a></li>
                        <li><a href="/sushi_doc_md.html" target="_blank">Documentation</a></li>
                        <li><a href="mailto:sushi@fgcz.ethz.ch?subject=https://fgcz-sushi.uzh.ch/data_set/p<%= session[:project] %>/<%= session[:latest_data_set_id]%>">Ask for support</a></li>
                        <li><a href="/sushi_application" target="_blank">SushiApp List</a></li>
                    </ul>
                </li>
            </ul>
        <% if user_signed_in? %>
        <% project_init %>
        <%= form_tag({:action => "index", :controller => "home"}, {:class => "navbar-form navbar-left", :style => "padding: 0 15px"}) do %>
        <div class="form-group" style="line-height:45px;">
      <%= label(:project, :number, "Project") %>
      <%= text_field :project, :number, :value=>"#{session[:project]}", :size => 10, :style => "line-height: 16px" %>
      <%= select :select_project, :number, session[:projects], :prompt=>'project list' %>
        </div>
    <% end %>
	<ul class="nav navbar-nav navbar-right" style="margin-right: 0">
		<li>
        <% if current_user %>
            <span style="line-height: 60px;" lass="homelinks">Hi, <%= current_user.login %> | 
        <% end %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'homelinks' %></span>
		</li>
		<% if session[:employee] %>
		<li class="dropdown" style="padding: 0">
			<a href="#" style="padding: 0px 10px;line-height:60px;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-bell"></i>
				<span id="notification-count" class="badge" style="display: none; background-color: #d9534f;"><%= current_user.unread_notifications_count %></span>
			</a>
			<ul class="dropdown-menu dropdown-menu-right" style="width: 300px;">
				<li class="dropdown-header">
					<strong>Notifications</strong>
					<% if current_user.unread_notifications_count > 0 %>
						<%= link_to "Mark All Read", mark_all_as_read_notifications_path, 
									method: :post, 
									class: "btn btn-xs btn-default pull-right",
									style: "margin-top: -2px;" %>
					<% end %>
				</li>
				<li role="separator" class="divider"></li>
				<% current_user.recent_notifications(5).each do |notification| %>
					<li>
						<a href="#" onclick="markNotificationAsRead(<%= notification.id %>); return false;" style="white-space: normal;">
							<div class="<%= 'text-bold' unless notification.read %>">
								<%= notification.notification_type.humanize %>
								<% unless notification.read %>
									<span class="badge" style="background-color: #d9534f;">New</span>
								<% end %>
							</div>
							<div style="font-size: 12px; color: #666;">
								<%= truncate(notification.message, length: 100) %>
							</div>
							<div style="font-size: 11px; color: #999;">
								<%= time_ago_in_words(notification.created_at) %> ago
							</div>
						</a>
					</li>
				<% end %>
				<% if current_user.recent_notifications(5).empty? %>
					<li><a href="#" style="text-align: center; color: #999;">No notifications</a></li>
				<% end %>
				<li role="separator" class="divider"></li>
				<li><%= link_to "View All Notifications", notifications_path %></li>
				<li><%= link_to "Notification Settings", notification_setting_path %></li>
			</ul>
		</li>
		<% end %>
	    </ul>
 <% end %>
	</div>
        <!-- END menu navigation bar -->
    </div>
</nav>

<script>
function markNotificationAsRead(notificationId) {
  $.post('/notifications/' + notificationId + '/mark_as_read', function(data) {
    if (data.success) {
      // Update notification count
      updateNotificationCount();
      // Reload the dropdown content
      location.reload();
    }
  });
}
</script>

