<h1>Project <%= session[:project] %></h1>
<hr />
<h3>Job List</h3>

<table><tr><th>Job ID</th><th>Status</th><th>User</th><th>JobScript</th><th>Log</th><th>Time (Start/End)</th>
  </tr>
<% @job_list.each do |job| %>
  <tr>
    <td><%= job[0] %></td>
    <td><%= job[1] %></td>
    <td><%= job[4] %></td>
    <td><%= link_to job[2], :action => 'print_script', :job_id => job[0] %></td>
    <td><%= link_to 'Log', :action => 'print_log', :job_id => job[0] %></td>
    <td><%= job[3].to_s %></td>
  </tr>
<% end %>
</table>
<hr />
<%= form_tag(:action => "index") do %>
<table>
  <tr>
    <td>
      Total: <%= @total %> jobs,
      Page:
      <% @page_list.each do |page| %>
        <% if page == @current_page.to_i %>
          <%= page %>
        <% else %>
          <%= link_to page, "job_monitoring.#{page}" %>
        <% end %>
      <% end %>
    </td>
    <td> <%= select :page, :unit, {"10" => 10, "50" => 50, "100" => 100}, :selected => @page_unit %> <%= submit_tag "Reload" %></td>
  </tr>
</table>
<% end %>
<hr />
