<h1>Project 948</h1>
<hr />
<h3>Job List</h3>

<table><tr><th>Job ID</th><th>Status</th><th>User</th><th>Log</th><th>Application</th><th>Time (Start/End)</th><th>Result</th><th>File(s)</th><th>Action</th></tr>
<% @job_list.each do |job| %>
  <tr>
    <td><%= job[0] %></td>
    <td><%= job[1] %></td>
    <td><%= job[4] %></td>
    <td><%= link_to 'Log', :action => 'print_log', :job_id => job[0] %></td>
    <td><%= link_to job[2], :action => 'print_script', :job_id => job[0] %></td>
    <td><%= job[3].to_s %></td>
  <% if job[5] %>
    <td><%= link_to 'Link', job[5] %></a></td>
  <% else %>
    <td></td>
  <% end %>
    <td><%= File.basename(job[6].to_s) %></td>
  <% unless job[6].to_s == 'no result' %>
    <td><%= link_to 'add to basket', "/resource/add_to_basket/9999#{job[0]}" %></td>
  <% else %>
    <td></td>
  <% end %>
  </tr>
<% end %>
</table>
