<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
      url: "/data_set/treeviews"
    });
});
</script>
<h1>Project <%= session[:project] %></h1>

<h2>Select DataSet</h2>
<table>
  <tr><th>ID</th><th colspan=3>Name</th></th><th>Samples</th><th>Created</th></tr>
<% @data_sets.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= link_to data_set.name, "/data_set/#{data_set.id}" %></td>
    <td><span style="color:gray;font-size:smaller">[<%= data_set.headers.join(',') %>]</span></td>
    <td><%= button_to 'select', "/run_application/select_application.#{data_set.id}" %></td>
    <td><%= data_set.samples.length %></td>
    <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
  </tr>
<% end %>
</table>
<ul id="data_set_tree" class="filetree"></ul>
<br />
