<h1>Project <%= session[:project] %></h1>
<hr />
<h3>Select DataSet & Application</h3>
<br />
<%= form_tag(:action => 'set_parameters') do %>
  <table>
    <tr><th>Data Set</th><th>Application</th></tr
    <tr><td>
    <%= select :data_set, :id, @data_sets.map{|data_set| [data_set.name, data_set.id]} %>
    </td><td>
    <%= select :sushi_app, :class, @sushi_apps.map{|app| [app, app]} %>
    </td></tr>
  </table>
  <br />
  <%= submit_tag "Next" %>
<% end %>





