<h1>Project <%= session[:project] %></h1>
<hr />
<h3>Select DataSet & Application</h3>
<br />
<%= form_tag(:action => 'index') do %>
  <table>
    <tr><th>Data Set</th><th>Application</th></tr
    <tr><td>
    <%= select :dataset, :id, @data_sets.map{|data_set| [data_set.name, data_set.id]} %>
    </td><td>
    <%= select :script, :path, @job_scripts.map{|script| [File.basename(script).gsub(/\.sh/,''), script]} %>
    </td></tr>
  </table>
  <br />
  <%= submit_tag "Next" %>
<% end %>





