<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
      url: "/data_set/treeviews"
    });
});
</script>
<h1>Project <%= session[:project] %></h1>
<h1>Ajax Test</h1>

<%= form_tag({:action => 'result'}) do %>
    <%= select_tag "pref_id", options_for_select(@prefectures.map{|obj| [obj.name, obj.id]}, params['pref_id']),  :prompt => "select please" %>

    <%= render :partial => '/run_application/select_city' %>
    <%= submit_tag 'ok' %>
<% end %>

<script type="text/javascript">
    $(function(){
        $('#pref_id').change(function(){
            var pref_id = $("#pref_id").val();
            $.get("/run_application/city_select?pref_id=" + pref_id);
        })
    });
</script>



<h2>Select DataSet</h2>
<ul id="data_set_tree" class="filetree"></ul>
<table>
  <tr><th>ID</th><th colspan=3>Name</th></th><th>Samples</th><th>Created</th></tr>
<% @data_sets.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= link_to data_set.name, "/data_set/#{data_set.id}" %></td>
    <td><span style="color:gray;font-size:smaller">[<%= data_set.headers.join(',') %>]</span></td>
    <td><%= button_to 'select', "/data_set/#{data_set.id}", :method=>:get %></td>
    <td><%= data_set.samples.length %></td>
    <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
  </tr>
<% end %>
</table>
<br />
