<h1>Project <%= session[:project] %></h1>
<hr />
<h2>Set Parameters</h2>
<hr />
<%= form_tag(:action => 'confirmation') do %>
  <%= hidden_field :sushi_app, :class, :value => @sushi_app.class %>
  <%= hidden_field :data_set, :id, :value => @data_set.id %>
  <h3>Parameters</h3>
    <table>
      <% @sushi_app.params.each do |key, value| %>
        <tr>
          <th><%= key %></th>
          <td>
          <% case key %>
          <% when 'ram' %>
            <%= text_field :parameters, key.to_sym, :value => "#{value}" %> GB
          <% when 'scratch' %>
            <%= text_field :parameters, key.to_sym, :value => "#{value}" %> GB
          <% when 'process_mode' %>
            <%= select :parameters, key.to_sym, ['SAMPLE', 'DATASET'], :selected => value %>
          <% when 'node' %>
            <%= select :parameters, key.to_sym, @nodes, :selected => '' %> (Munin Overview: <%= link_to 'http://fgcz-munin.uzh.ch/', 'http://fgcz-munin.uzh.ch/' %>)
          <% else %>
            <% if value.class == TrueClass or value.class == FalseClass %>
              <%= select :parameters, key.to_sym, ['true', 'false'], :selected => value.to_s %>
            <% elsif value.class == Array %>
              <%= select :parameters, key.to_sym, value, :selected => value.first %>
            <% else %>
              <%= text_field :parameters, key.to_sym, :value => "#{value}" %>
            <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>
    </table>
  <br />
  <br />
  <%= submit_tag 'Next' %>
<% end %>

