<h1>Project <%= session[:project] %></h1>
<hr />
<h2>Set Parameters</h2>
<hr />
<%= form_tag(:action => 'confirmation') do %>
  <%= hidden_field :sushi_app, :class, :value => @sushi_app.class %>
  <%= hidden_field :data_set, :id, :value => @data_set.id %>
  <h3>Parameters</h3>
    <table>
      <% @sushi_app.params.each do |key, value| %>
        <tr>
          <th><%= key %></th>
          <td>
          <% if key == 'process_mode' %>
            <%= select :parameters, key.to_sym, ['SAMPLE', 'DATASET'], :selected => value %>
          <% else %>
            <%= text_field :parameters, key.to_sym, :value => "#{value}" %>
          <% end %>
        </td>
        </tr>
      <% end %>
    </table>
  <br />
  <br />
  <%= submit_tag 'Next' %>
<% end %>

