<h1>Project <%= session[:project] %></h1>
<hr />
<h2>Set Parameters</h2>
<hr />
<%= form_tag(:action => 'confirmation') do %>
  <%= hidden_field :sushi_app, :class, :value => @sushi_app.class %>
  <%= hidden_field :data_set, :id, :value => @data_set.id %>
  <h3>Parameters</h3>
    <table>
      <% @sushi_app.params.each do |key, value| %>
        <tr>
          <th><%= key %></th>
          <td>
          <% case key %>
          <% when 'ram' %>
            <%= text_field :parameters, key.to_sym, :value => "#{value}" %> GB
          <% when 'scratch' %>
            <%= text_field :parameters, key.to_sym, :value => "#{value}" %> GB
          <% when 'process_mode' %>
            <%= text_field :parameters, key.to_sym, :value => value, :disabled => true %>
          <% when 'node' %>
            <%= select_tag "parameters[#{key}]", options_for_select(@nodes), :multiple => true, :size => 10 %><br />
            (Munin Overview: <%= link_to 'http://fgcz-munin.uzh.ch/', 'http://fgcz-munin.uzh.ch/' %>)
          <% else %>
            <% if value.instance_of?(TrueClass) or value.instance_of?(FalseClass) %>
              <%= select :parameters, key.to_sym, ['true', 'false'], :selected => value.to_s %>
            <% elsif value.instance_of?(Array) %>
              <%= select :parameters, key.to_sym, value, :selected => value.first %>
            <% elsif value.instance_of?(Hash) %>
              <%= select :parameters, key.to_sym, value, :selected => '' %>
            <% else %>
              <%= text_field :parameters, key.to_sym, :value => "#{value}" %>
            <% end %>
          <% end %>
          <% if @sushi_app.required_params.include?(key) %>
            <font color=red>required</font>
          <% end %>
        </td>
        </tr>
      <% end %>
    </table>
  <br />
  <br />
  <%= submit_tag 'Next' %>
<% end %>

