<h1>SUSHI Applications</h1>
<hr />
<%= button_to "Refresh", "/sushi_application/refresh" %>
<table>
  <tr><th>Name</th><th>Analysis Category</th><th>Description</th><th>Required Columns</th><th>Next DataSet Columns</th></tr>
  <% @sushi_apps.each do |app| %>
    <tr>
      <td><%= app.class_name %></td>
      <td><%= app.analysis_category %></td>
      <td><%= app.description.to_s.split(/\n/).first.to_s.html_safe %></td>
      <td><%= app.required_columns.join(', ') %></td>
      <td><%= app.next_dataset_keys.join(', ') %></td>
    </tr>
  <% end %>
</table>

