<script>
$(document).ready(function(){
  $(document).tooltip();
  $('.dt').DataTable({
      "order":[[ 0, "desc" ]],
      "ordering": false
  });

  $('#checkall').click(function (e) {
      if ($(this).prop("checked")) {
          $('.target').each(function () {
              $(this).prop("checked", true);
          });
      } else {
          $('.target').each(function () {
              $(this).prop("checked", false);
          });
      }
  });

  $(function () {
      $('#btn_multi_kill').click(function () {
          var flag = false;
          $('.target').each(function () {
              if ($(this).prop("checked")) {
                  flag = true;
                  return false;
              }
          });
          if (flag == true) {
              var form = $('#multi_kill');
              form.submit();
          } else {
              // no selected
              alert('Please select at least one job.');
          }
      });
  })


});
</script>
<% if session[:all_job_list] %>
   <h1>Project all</h1>
<% else %>
   <h1>Project <%= session[:project] %></h1>
<% end %>
<% if session[:employee] %>
  <% unless session[:all_job_list] %>
    <%= form_tag(:action => "index") do %>
      <%= submit_tag 'All Job List', :class=>"btn btn-info btn-sm raised" %>
      <%= hidden_field :option, :all_job_list, :value=>true %>
    <% end %>
  <% else %>
    <%= form_tag(:action => "index") do %>
      <%= submit_tag 'Project Job List', :class=>"btn btn-info btn-sm raised" %>
      <%= hidden_field :option, :project_job_list, :value=>true %>
    <% end %>
  <% end %>
<% end %>
<hr/>
<h3>Job List <span style="font-size: 0.5em;"> - <a href="#" id="btn_multi_kill">kill</a> selected jobs</span></h3>
<%= form_tag('/job_monitoring/multi_kill_job', :id=>"multi_kill") do %>
<table id="job_list" class="dt pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>Job ID</th>
        <th>Status</th>
        <th></th>
        <th class="check_box"><%= check_box 'kill_all_flag', 'all', {:id=>'checkall'}, true, false %></th>
        <th>User</th>
        <th>JobScript</th>
        <th>Log</th>
        <th>DataSet</th>
        <th>Time (Start/End)</th>
    </tr>
    <thead>
    <tbody>
    <% @job_list.each_with_index do |job, i| %>
    <tr>
        <td><%= job[0] %></td>
        <td>
        <% if session['employee'] %>
          <%= button_to job[1], "/job_monitoring/#{job[0]}/change_status" %></td>
        <% else %>
          <%= job[1] %></td>
        <% end %>
        <td>
            <% if (job[1]=~/RUNNING/i or job[1]=~/PENDING/i) and current_user and job[4]==current_user.login %>
              <%= button_to 'kill', "/job_monitoring/#{job[0]}/kill_job", data: {confirm: "Are you sure you want to kill the job '#{job[0]}'?"}, :class=>"btn btn-info btn-sm raised" %>
            <% elsif job[1]=='fail' and session['employee'] and current_user %>
              <% if submit_job = @submit_jobs[i] and submit_job.data_set %>
                <%= button_to 'resubmit', "/job_monitoring/#{job[0]}/resubmit_job", data: {confirm: "Are you sure you want to submit the job '#{job[0]}' again?"}, :class=>"btn btn-info btn-sm raised" %>
              <% end %>
            <% end %>
        </td>
        <td class="check_box">
            <% if (job[1]=~/RUNNING/i or job[1]=~/PENDING/i) and current_user and job[4]==current_user.login %>
              <%= check_box "kill_flag", "#{job[0]}", {:class=>'target'}, true, false %>
            <% end %>
        </td>
        <td><%= job[4] %></td>
        <td><%= link_to td(job[2]), :action => 'print_script', :job_id => job[0] %></td>
        <td><%= link_to 'Log', :action => 'print_log', :job_id => job[0] %></td>
        <td>
            <% if submit_job = @submit_jobs[i] and submit_job.data_set %>
            <% if @all_job_list %>
            <%= link_to td(submit_job.data_set.name+" (p#{job[5]})"), :controller=>:data_set, :action=>:show,
            :id=>submit_job.next_dataset_id, :project=>job[5] %>
            <% else %>
            <%= link_to td(submit_job.data_set.name), "/data_set/#{submit_job.next_dataset_id}" %>
            <% end %>
            <% end %>
        </td>
        <td><%= job[3].to_s %></td>
    </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<hr/>
Total: <%= @total %> jobs, only recent <%= @page_unit %> jobs are shown.
<hr/>

