<script type="text/javascript">
$(document).ready(function(){
  $("#edit_save_as_child").on('click', function(){
    var prohibit_char = /[^a-zA-Z0-9_-]/;
    var child_dataset_name = $("#child_dataset_name").val();

    if(child_dataset_name.match(prohibit_char)){
      alert("WARNING: Only alphabets, numbers, underscore '_' and hyphen '-' are allowed");
      $("#child_dataset_name").addClass('attention');
      return false;
    }else if(child_dataset_name != null){
      $("edit_save_as_child").submit();
    }
  });
});
</script>
<h1>Project <%= session[:project] %></h1>
<%= image_tag('back.gif') %>
<%= link_to "Backto DataSet #{@data_set.name}", "/data_set/#{@data_set.id}", :method=>:get %>
<hr />
<h3>Samples</h3>
<% if @data_set %>
  <%= form_tag({:controller => 'sample',:action => 'show'}) do %>
    <div id="scroll">
    <table>
      <tr>
        <% @data_set.factor_first_headers.each_with_index do |header, j| %>
          <th>
            <% if !@edit_option %>
              <%= text_field "sample_headers", remove_tag(header.to_s), :size=>15, :value=>header %>
            <% elsif del_col=@edit_option[:del_col] and del_col==j.to_s %>
              <s><font color=red><%= header %></font></s>
            <% else %>
              <%= header %>
            <% end %>
          </th>
        <% end %>
        <% if @edit_option and @edit_option[:add] == 'col' %>
          <th>
            <%= text_field "new_header", "name", :size=>15, :value=>'' %>
          </th>
        <% end %>
      </tr>
      <% @data_set.samples.each_with_index do |sample, i| %>
        <tr>
          <% @data_set.factor_first_headers.each_with_index do |header, j| %>
            <td>
              <% file_path = sample.to_hash[header].to_s %>
              <% if !@edit_option %>
                <%= text_field "sample_#{i}", remove_tag(header.to_s), :size=>15, :value=>file_path %>
              <% elsif @edit_option[:del_row]==i.to_s %>
                <%= hidden_field :edit_option, :del_row, :value=>i.to_s %> 
                <s><font color=red><%= File.basename(file_path) %></font></s>
              <% elsif del_col=@edit_option[:del_col] and del_col==j.to_s %>
                <%= hidden_field :edit_option, :del_col, :value=>header %> 
                <s><font color=red><%= File.basename(file_path) %></font></s>
              <% else %>
                <%= File.basename(file_path) %>
              <% end %>
            </td>
          <% end %>
          <% if @edit_option and @edit_option[:add]=='col' %>
            <td>
              <%= text_field "new_col", i.to_s, :size=>15, :value=>'' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <% if @edit_option and @edit_option[:add]=='row' %>
        <tr>
          <% @data_set.factor_first_headers.each do |header| %>
            <td>
              <%= text_field "sample_new", remove_tag(header.to_s), :size=>15, :value=>'' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    </div>
    <%= submit_tag 'save', :name=>'edit' %><br />
    <%= submit_tag 'save as child', :name=>'edit_save_as_child', :id=>"edit_save_as_child" %> Child DataSet name: <%= text_field :child_dataset, :name, :value=>"Child_#{@data_set.name}", :size=>30 %>
  <% end %>
<% end %>
<hr />
<%= link_to 'Sushi Application List', '/sushi_application' %>

