<h1>Project <%= session[:project] %></h1>
<%= image_tag('back.gif') %>
<%= link_to "Backto DataSet #{@data_set.name}", "/data_set/p#{session[:project]}/#{@data_set.id}", :method=>:get %>
<hr />
<h3>Samples</h3>
<% if @data_set %>
  <div id="scroll">
<table>
  <tr>
    <th></th>
    <% @data_set.factor_first_headers.each_with_index do |header, i| %>
      <th>
        <%= form_tag({:controller => 'sample',:action => 'edit'}) do %>
          <%= header %>
          <%= hidden_field :edit_option, :del_col, :value=>i.to_s %> 
          <%= image_submit_tag 'minus.png', :name=>'edit' %>
        <% end %>
      </th>
    <% end %>
    <th>
      <%= form_tag({:controller => 'sample',:action => 'edit'}) do %>
        <%= hidden_field :edit_option, :add, :value=>'col' %> 
        <%= image_submit_tag 'add.png', :name=>'edit' %>
      <% end %>
    </th>
  </tr>
  <% @data_set.samples.each_with_index do |sample, i| %>
    <tr>
      <td>
        <%= form_tag({:controller => 'sample',:action => 'multiedit'}) do %>
          <%= hidden_field :edit_option, :del_row, :value=>i.to_s %> 
          <%= image_submit_tag 'minus.png', :name=>'edit' %>
        <% end %>
      </td>
      <% @data_set.factor_first_headers.each do |header| %>
        <td>
          <% file_path = sample.to_hash[header].to_s %>
          <% file_name = File.basename(file_path) %>
          <%= file_name %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
  </div>
  <%= button_to 'edit sample', "/sample/#{@data_set.id}/edit" %>
<% end %>
<hr />
<%= link_to 'Sushi Application List', '/sushi_application' %>
