<div id='container_sushi_application_list' style="display: inline-block;">
  <% if @sushi_apps.empty? %>
    <span class="alert">No Available Application for this DataSet</span><br />
  <% else %>
    <%= form_tag(:controller => 'run_application', :action => 'set_parameters') do %>
      <%= hidden_field :data_set, :id, :value=>@data_set.id %>
      <div style="margin-bottom: 10px;">
        <%= check_box_tag :use_project_defaults, '1', true %>
        <%= label_tag :use_project_defaults, 'Use project default parameters' %>
      </div>
      <table>
        <th>Category</th><th>Application</th>
      <% @sushi_apps_category.each do |category| %>
        <tr><td><%= category %></td>
          <td style="padding: 2px;">
            <% @sushi_apps[category].each do |app| %>
              <% if (session['employee'] and @employee_apps[app]) or !@employee_apps[app] %>
                <%= submit_tag app.to_s, :name=>'app', :class=>"btn btn-info btn-sm raised", :style=>"padding: 2px" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    <% end %>
  <% end %>
</div>

