<script type="text/javascript">
  $(document).ready(function () {
    $('#option_delete_only_gstore').click(function (e) {
      if($(this).prop("checked")){
        $("#option_delete_data_files").prop("checked", false);
      }
    });
    $('#option_delete_only_sushi').click(function (e) {
      if($(this).prop("checked")){
        $("#option_delete_data_files").prop("checked", false);
      }
    });
    $('#option_delete_data_files').click(function (e) {
      if($(this).prop("checked")){
        $("#option_delete_only_gstore").prop("checked", false);
        $("#option_delete_only_sushi").prop("checked", false);
      }
    });

    $('#btn_delete').click(function (e) {
      var flag = false;
      $('.checking').each(function () {
          if ($(this).prop("checked")) {
              flag = true;
          }
      });
      if ((flag == false)) {
        alert('Please select at least one option');
        return false;
      }
    });
  });
</script>
<h1>Project <%= session[:project] %> <span style="color:red;font-size:medium">Delete DataSet</span></h1>
<hr />
<h2>Select</h2>
<%= form_tag(@data_set.id.to_s, :method=>:delete) do %>
  <%= check_box :option_delete, :only_sushi, {:checked=>true, :class=>"checking"} %> <%= tooltip("Delete database entry", "SUSHI database entry will be removed") %><br />
  <% if session[:employee] and @data_set.parent_id and @data_set.child == false %>
    <%= check_box :option_delete, :data_files, {:class=>"checking"} %> <%= tooltip("Delete big data in gStore", "Other data than .tsv and sub-directories will be removed from gStore") %><br />
  <% end %>
  <% if @gstore_dataset_deletable %>
    <%= check_box :option_delete, :only_gstore, {:checked=>true, :class=>["target", "checking"]} %> <%= tooltip("Delete gStore data", "All data files will be remove from gStore") %><br />
  <% else %>
    <br />
    Note: 
    <ul>
      <li>This dataset must be either <span class="alert">original dataset</span> or <span class="alert">child dataset</span></li>
    </ul>
  <% end %>
  <br />
  <%= submit_tag 'delete', :id=>"btn_delete", :class=>"btn btn-danger btn-sm raised" %>
  <%= button_to 'back', "#", :id=>"history_back", :class=>"btn btn-info btn-sm raised" %>
<% end %>
<hr />
<h3>DataSet</h3>
<table>
  <tr><th>ID</th><th>Name</th><th>Samples</th><th>Parent</th><th>Child(ren)IDs</th><th>Created</th></tr>
  <% if @data_set %>
  <tr>
    <td><%= @data_set.id %></td>
    <td><%= @data_set.name %></td>
    <td><%= @data_set.samples.length %></td>
    <td><%= link_to td(@data_set.data_set.name), "/data_set/#{@data_set.parent_id}" if @data_set.data_set %></td>
    <td>
      <% @data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == @data_set.data_sets.last %>
      <% end %>
    </td>
    <td><%= @data_set.created_at.to_s.gsub(/UTC/,'') %></td>
  </tr>
  <% end %>
</table>
<hr />
<h3>Samples</h3>
<% if @data_set %>
    <div id="scroll">
  <% if @data_set.samples.length > 20 %>
    <div style="height:450px; overflow-y:scroll;">
  <% end %>
<table>
  <tr>
    <% @data_set.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @data_set.samples.each do |sample| %>
    <tr>
      <% @data_set.headers.each do |header| %>
        <td>
          <% unless @file_exist[sample.to_hash[header].to_s] %>
            <span class="alert"><%= td(File.basename(sample.to_hash[header].to_s)) %></span>
          <% else %>
            <% file_path = sample.to_hash[header].to_s %>
            <% file_name = File.basename(file_path) %>
            <% if header and header.tag?('Link') %>
               <%= link_to td(file_name), File.join('/projects', file_path)  %>
            <% else %>
               <%= td(file_name) %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
  <% if @data_set.samples.length > 20 %>
    </div>
  <% end %>
    </div>
<% end %>
<hr />

<% unless @file_exist.values.inject{|a,b| a and b}%>
  <span class="alert">The RED file(s) does not exist in gstore:</span> <%= SushiFabric::GSTORE_DIR %><br />
  <ul>
  <% @file_exist.select{|file, exist| !exist}.each do |file, exist| %>
    <li><%= file %></li>
  <% end %>
  </ul>
<% else %>
  <% if @sample_path.length == 1 %>
    <%= button_to "Show gStore", File.join("/projects/", @sample_path.first), :method=>:get, :class=>"btn btn-info btn-sm raised" %>
    <% @sample_path.sort.each do |path| %>
      <%= link_to "#{File.join('/projects/',path)}", File.join("/projects/", path) %>
    <% end %>
  <% end %>
<% end %>
<%= javascript_tag do %>
  $("#history_back").click(function() {
    history.back()
    return false;
  });
<% end %>


