<h1>Project <%= session[:project] %> <span style="color:gray;font-size:medium">Delete DataSet</span></h1>
<hr />
<% if @parent_dataset %>
  <%= image_tag('back.gif') %>
  <%= link_to "Back to Parent DataSet #{@parent_dataset.name}", "/data_set/#{@parent_dataset.id}", :method=>:get %>
<% end %>

<h3>Log</h3>
<ul>
  <% if @option[:only_sushi]=='1' %>
    <li><b><%= @deleted_data_set.id %>.[<%= @deleted_data_set.name %>]</b> is removed from Sushi DataBase.</li>
  <% end %>
  <% unless @sample_path.empty? %>
    <% if @option[:only_gstore] == '1' %>
      <li>The files in <b><%= @sample_path.first %></b> are removed from GStore.</li>
      <li>The following command has been executed
      <pre><%= @command %></pre>
      <pre><%= @command_log %></pre>
      <% if @greq_status_command %>
        <li>But sometimes g-req command fails with an error. In order to check the request status, run 
        <pre><%= @greq_status_command %></pre>
        </li>
      <% end %>
    <% elsif File.exist?(File.join(SushiFabric::GSTORE_DIR, @sample_path.first)) %>
      <li>The files in <b><%= @sample_path.first %> still <span class="alert">remain in gStore</span></b>.</li>
      <% if @fgcz %>
        <li>If you want to delete the files too, run
        <pre><%= @command %></pre>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
<table>
<hr />
<% if !@sample_path.empty? and @option[:only_sushi]=='1' and File.exist?(File.join(SushiFabric::GSTORE_DIR, @sample_path.first)) %>
  <% if @sample_path.length > 0 %>
    <%= button_to "Show gStore", File.join("/projects/", @sample_path.first), :method=>:get, :class=>"btn btn-info btn-sm raised"  %>
    <% @sample_path.sort.each do |path| %>
      <%= link_to "#{File.join('/projects/',path)}", File.join("/projects/", path) %>
    <% end %>
  <% end %>
<% else %>
  <%= button_to "Show gStore", "/projects/p#{session[:project]}", :method=>:get, :class=>"btn btn-info btn-sm raised" %>
  <%= link_to "/projects/p#{session[:project]}","/projects/p#{session[:project]}" %>
<% end %>




