<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
    url: "/data_set/treeviews.<%= params[:id] %>"
    });
});
</script>

<h1>Project <%= session[:project] %></h1>
<hr />
<h3>DataSet</h3>
<%= form_tag({:controller => 'data_set',:action => 'show'}, :method=>:get) do %>
<table id="dataset_table" class="dt">
  <tr><th>ID</th><th>Name</th><th>Samples</th><th>Parent</th><th>Child(ren)IDs</th><th>Created</th></tr>
  <% if @data_set %>
  <tbody>
  <tr>
    <td><%= @data_set.id %></td>
    <td>
      <% if params[:edit_option] == 'edit name' %>
        <%= text_field :data_set, :name, :size=>15, :value=>@data_set.name %></td>
      <% else %>
        <%= @data_set.name %>
      <% end %>
    <td><%= @data_set.samples.length %></td>
    <td><%= link_to @data_set.data_set.name, "/data_set/#{@data_set.parent_id}" if @data_set.data_set %></td>
    <td>
      <% @data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == @data_set.data_sets.last %>
      <% end %>
    </td>
    <td><%= @data_set.created_at.to_s.gsub(/UTC/,'') %></td>
  </tr>
  </tbody>
  <% end %>
</table>
<ul id="data_set_tree" class="filetree"></ul>

  <% if params[:edit_option]=='edit comment' %>
    Comments: <%= text_field :data_set, :comment, :size=>50, :value=>@data_set.comment %>
  <% elsif params[:edit_option]=='add comment'  %>
    Comments: <%= text_field :data_set, :comment, :size=>50, :value=>'' %>
  <% end %>

  <%= hidden_field :data_set, :id, :value=>@data_set.id %>
  <%= submit_tag 'ok', :name=>'edit' if params[:edit_option] %>
<% end %>

<% if @data_set %>
  <hr />
  <h3>Job Script</h3>
  <tablei id="dataset_jobscript" class="dt">
    <tr><th>Job ID</th><th>Script</th><th>Log</th>
    <% @data_set.jobs.each do |job| %>
    <tbody>
    <tr>
      <td><%= job.submit_job_id %></td>
      <td><%= link_to 'JobScript', "/job_monitoring/print_script?job_id=#{job.submit_job_id}" %></td>
      <td><%= link_to 'Log', "/job_monitoring/print_log?job_id=#{job.submit_job_id}" %></td>
    </tr>
    </tbody>
    <% end %>
    </tr>
  </table>
  <%= button_to 'Show Job List', '/job_monitoring' %>
<% end %>
<hr />
<h3>Samples</h3>
<% if @data_set %>
  <div id="scroll">
  <table id="dataset_samnles" class="dt">
    <tr>
      <% @data_set.headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <tbody>
    <% @data_set.samples.each do |sample| %>
      <tr>
        <% @data_set.headers.each do |header| %>
          <td>
            <% unless @file_exist[sample.to_hash[header].to_s] %>
              <span class="alert"><%= File.basename(sample.to_hash[header].to_s) %></span>
            <% else %>
              <% file_path = sample.to_hash[header].to_s %>
              <% file_name = File.basename(file_path) %>
              <% if header.tag?('Link') %>
                 <%= link_to file_name, File.join('/projects', file_path)  %>
              <% else %>
                 <%= file_name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
<% end %>
<hr />

<% unless @file_exist.values.inject{|a,b| a and b}%>
  <span class="alert">The RED file(s) does not exist in gstore:</span> <%= SushiFabric::GSTORE_DIR %><br />
  <ul>
  <% @file_exist.select{|file, exist| !exist}.each do |file, exist| %>
    <li><%= file %></li>
  <% end %>
  </ul>
<% else %>
  <%= button_to "Show gStore", File.join("/projects/", @sample_path.first) if @sample_path.length == 1 %>
  <% @sample_path.sort.each do |path| %>
    <%= link_to "#{File.join('/projects/',path)}", File.join("/projects/", path) %>
  <% end %>

  <% if @sushi_apps %>
    <h3>Applications</h3>
    <% if @sushi_apps.empty? %>
      <span class="alert">No Available Application for this DataSet</span><br />
      <%= button_to 'Back', '/run_application', :method=>:get %>
    <% else %>
      <%= form_tag(:controller => 'run_application', :action => 'set_parameters') do %>
        <%= hidden_field :data_set, :id, :value=>@data_set.id %>
        <table>
          <th>Category</th><th>Application</th>
          <% @sushi_apps_category.each do |category| %>
            <tr><td><%= category %></td>
              <td>
                <% @sushi_apps[category].each do |app| %>
                  <%= submit_tag app.to_s, :name=>'app' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  <% end %>

<% end %>


