<script type="text/javascript">
    $(function () {

        $('.dt').DataTable();
        var msg = $('#import').data('complete');
        if (msg != '') {
            alert(msg);
        }

        $("#load_dataset").on('click', function(){
          var prohibit_char = /[^a-zA-Z0-9_-]/;
          var dataset_name = $("#dataset_name").val();

          if(dataset_name.match(prohibit_char)){
            alert("WARNING: Only alphabets, numbers, underscore '_' and hyphen '-' are allowed for DataSet Name");
            $("#dataset_name").addClass('attention');
            return false;
          }else if(dataset_name == ""){
            alert("WARNING: Please input the DataSet name");
            $("#dataset_name").addClass('attention');
            return false
          }
        });
    });
</script>

<div id="import" data-complete="<%= @warning %>"></div>

<h3>Import DataSet</h3>
<h4>File selection</h4>
<%= form_tag('/data_set/import', :multipart => true) do %>
<%= file_field :file, :name, :class=>"" %>
<label>DataSet Name:</label> <%= text_field :dataset, :name, :size=>20, :class=>"input-md" %>
<label>Parent DataSet ID:</label> <%= select :parent, :id, @data_set_ids, :selected => '', :class=>"form-control input-md" %>
<label>ManGO RunName_oBfabricOrderID:</label> <%= text_field :run, :id, :size=>15, :class=>"input-md" %>
<label>Meta-DataSet:</label> <%= text_field :meta_dataset, :plate_samples, :size=>3, :class=>"input-md" %> samples / plate <br>
<%= submit_tag 'load dataset', :id=>"load_dataset", :class=>"btn btn-sm btn-info raised" %>
<% end %>

<hr/>
<h4>All DataSets ( Project <%= session[:project] %> )</h4>
<table class="dt pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>MD5</th>
        <th>ParentID</th>
        <th>Who</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    <% @project.data_sets.reverse.each do |data_set| %>

    <tr>
        <td><%= data_set.id %></td>
        <td><%= link_to td(data_set.name), "/data_set/#{data_set.id}" %></td>
        <td><%= data_set.md5 %></td>
        <td><%= data_set.parent_id %></td>
        <% if user = data_set.user %>
        <td><%= user.login %></td>
        <% else %>
        <td>sushi_lover</td>
        <% end %>
        <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
    </tr>
    <% end %>
    </tbody>
</table>

