<script type="text/javascript">
    $(document).ready(function () {
        var count = 0;
        var countup = function(){
          count++;
          var id = setTimeout(countup, 1000);
          if(count > 2){　
            clearTimeout(id);
          }
        }

        var url_not_found = $('#url_not_found').val();
        if(url_not_found=="true"){
          alert("URL is not found");
        }
        $('.dt').DataTable();
        $("#data_set_tree").jstree({
            'core': {
                'data': {
                    url: '/data_set/whole_treeviews'
                }
            },
            "plugins" : [ "state", "search", "checkbox" ],
            checkbox: { cascade: "", three_state: false, tie_selection : false, whole_node: false }
        });

        var to = false;
        $('#search_tree').keyup(function () {
          if(to) { clearTimeout(to); }
          to = setTimeout(function () {
            var v = $('#search_tree').val();
            $('#data_set_tree').jstree(true).search(v);
          }, 250);
        });

      $("#data_set_tree")
        .on('state_ready.jstree', function(e, data){
          countup();
        })
        .on('check_node.jstree', function(e, data){
              var all_checked = data.instance.get_checked();
              var delete_flag_checked = $.map(all_checked, function(n, i){
                  return ("delete_flag_" + n);
              });
              $('.target').each(function () {
                if($.inArray(this.id, delete_flag_checked)>=0){
                  $(this).prop("checked", true);
                }else{
                  $(this).prop("checked", false);
                }
              });
        })
        .on('uncheck_node.jstree', function(e, data){
              var all_checked = data.instance.get_checked();
              var delete_flag_checked = $.map(all_checked, function(n, i){
                  return ("delete_flag_" + n);
              });
              $('.target').each(function () {
                if($.inArray(this.id, delete_flag_checked)>=0){
                  $(this).prop("checked", true);
                }else{
                  $(this).prop("checked", false);
                }
              });
        })
        .on('select_node.jstree', function(e, data){
          if(count>1){
            window.location.href = data.node.a_attr.href;
          }
        });
        $('#checkall').click(function (e) {
            if ($(this).prop("checked")) {
                $('.target').each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $('.target').each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

    });


    $(function () {
        $('#btn_multi_delete').click(function () {
            var flag = false;
            var jstree_selected = [];
            if($("#data_set_tree").length){
              var tree = $("#data_set_tree").jstree(true);
              var jstree_selected = tree._data.checkbox.selected;
            }
            $('.target').each(function () {
                if ($(this).prop("checked")) {
                    flag = true;
                    return false;
                }
            });
            if ((flag == true) || (jstree_selected.length>0)) {
                var form = $('#multi_delete');
                // jstree checkbox search
                if(jstree_selected.length>0){
                  $.each(tree._data.checkbox.selected, function(i, val){
                    form.append($('<input/>', {'type': 'hidden', 'id': 'delete_flag_'+val, 'name': "delete_flag["+val+"]", 'value': 'true'}));
                  });
                }
                form.submit();
            } else {
                // no selected
                alert('Please select at least one DataSet.');
            }
        });
    })

    $(function () {
        var msg = $('#import').data('complete');
        if (msg != '') {
            alert(msg);
        }
    })


</script>

<div id="import" data-complete="<%= @warning %>"></div>
<h3>DataSets <span style="font-size: 0.5em;"> - <a href="#" id="btn_multi_delete">delete selected</a>
<% if @tree %>
  - <%= link_to "Full table view", "/data_set/index_full" %><br>
<% elsif @project and data_sets = @project.data_sets and data_sets.length != @data_sets.length %>
  - <%= link_to "Tree view", "/data_set/index_tree" %> - <%= link_to "Full table view", "/data_set/index_full" %>
<% end %>
</span>
</h3>

<%= hidden_field "url", "not_found", :value=>@url_not_found %>
<% if @project %>
  <% if @tree or (@project and data_sets = @project.data_sets and data_sets.length == @data_sets.length) %>
    Search: <%= text_field :search, :tree %>
    <ul id="data_set_tree" class="filetree"></ul>
  <% end %>
<% end %>
    <%= form_tag('/data_set/multi_delete', :id=>"multi_delete") do %>
    <table id="data_sets" class="dt pure-table pure-table-bordered">
        <thead class="dataset">
        <tr>
            <th class="check_box"><%= check_box 'delete_all_flag', 'all', {:id=>'checkall'}, true, false %></th>
            <th>ID</th>
            <th>Name</th>
            <th>SushiApp</th>
            <th>Samples</th>
            <th>ParentID</th>
            <th>Child(ren)IDs</th>
            <th>Who</th>
            <th>Created</th>
            <th>BFabricID</th>
            <th>ManGOID</th>
        </tr>
        </thead>
        <% if @project %>
        <tbody>
        <% @data_sets.each do |data_set| %>
        <tr>
            <td class='check_box'><%= check_box "delete_flag", "#{data_set.id}", {:class=>'target'}, true, false %></td>
            <td><%= data_set.id %></td>
            <td><%= link_to td(data_set.name), "/data_set/p#{@project.number}/#{data_set.id}" %></td>
            <td><%= data_set.sushi_app_name %>
            <td>
                <%= data_set.completed_samples.to_i %> / <%= data_set.samples_length %>
            </td>
            <td><%= link_to data_set.parent_id, "/data_set/#{data_set.parent_id}" if data_set.data_set %></td>
            <td>
                <% data_set.data_sets.each do |child| %>
                <%= link_to child.id, "/data_set/#{child.id}" %>
                <%= "," unless child == data_set.data_sets.last %>
                <% end %>
            </td>
            <% if user = data_set.user%>
            <td><%= user.login %></td>
            <% else %>
            <td>sushi_lover</td>
            <% end %>
            <td><%= data_set.created_at.strftime("%Y-%m-%d %X ") + SushiFabric::Application.config.time_zone.split('/').last %></td>
            <% if data_set.bfabric_id %>
            <td><%= link_to data_set.bfabric_id,
                "https://fgcz-bfabric.uzh.ch/bfabric/dataset/show.html?id=#{data_set.bfabric_id}&tab=details",
                target: "_blank" %>
            </td>
            <% else %>
            <td></td>
            <% end %>
            <% if data_set.run_name_order_id %>
            <td><%= link_to data_set.run_name_order_id,
                "http://fgcz-mango.uzh.ch/order_files/view/#{data_set.run_name_order_id}", target: "_blank" %>
            </td>
            <% else %>
            <td></td>
            <% end %>
        </tr>
        <% end %>
        </tbody>
        <% end %>
    </table>
    <% if @project and data_sets = @project.data_sets and data_sets.length > @data_sets.length %>
    <%= link_to "More...", "/data_set/index_full" %>
    <% end %>
    <% end %>

    <%= link_to "Download", {:action=>"save_project_dataset_list_as_tsv"}, :method=>:post %>
<hr>
<% if session[:employee] %>
  <%= form_tag({:action => "bfabric"}, {:name => :register_bfabric}) do %>
   <a href='#' onclick="var ok=confirm('Are you sure you want to register datasets in BFabric?'); if (ok) document.register_bfabric.submit(); return false;" >register bfabric&nbsp;</a>
   <%= select :parameters, :bfabric_option, ['new', 'update', 'renewal'], :selected => 'new' %>
 <% end %>
<% end %>

<!-- <th nowrap><button type="button" id="btn_multi_delete">delete</button> all<%= check_box 'delete_all_flag', 'all', {:id=>'checkall'}, true, false %></th> -->
