<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").jstree({
    'core':{
      'data':{
        url:'/data_set/whole_treeviews'
      }
    }
  });
});

$(document).ready(function() {
      $('#checkall').click(function(e) {
        if($(this).prop("checked")){
            $('.target').each(function() {
                    $(this).prop("checked", true);
            });
          }else{
            $('.target').each(function() {
                    $(this).prop("checked", false);
            });
          }
      });

  });


$(function(){
  $('#btn_multi_delete').click(function(){
    var flag=false;
    $('.target').each(function() {
       if($(this).prop("checked")){
         flag=true;
         return false;
       }
    });
    if(flag==true){
      // selected at least one
      $('#multi_delete').submit();
    }else{
      // no selected
      alert('Please select at least one DataSet.');
    }
  });
})

$(function(){
  var msg = $('#import').data('complete');
  if(msg != ''){
    alert(msg);
  }
})


</script>

<div id="import" data-complete="<%= @warning %>"></div>

<%= render 'shared/td' %>
<h1>Project <%= session[:project] %></h1>
<h3>DataSet</h3>
<%= button_to "Report", "/data_set/report" %>

<% if @project %>
  <% if data_sets = @project.data_sets and data_sets.length == @data_sets.length %>
    <ul id="data_set_tree" class="filetree"></ul>
  <% else %>
    <%= link_to "Tree view...", "/data_set/index_full" %>
  <% end %>
<% end %>
<% if @project and @data_sets.length > 20 %>
  <div style="height:800px; overflow-y:scroll;">
<% end %>
<%= form_tag('/data_set/multi_delete', :id=>"multi_delete") do %>
<table>
  <tr><th>ID</th><th>Name</th><th nowrap><button type="button" id="btn_multi_delete">delete</button> all<%= check_box 'delete_all_flag', 'all', {:id=>'checkall'}, true, false %></th><th>Samples</th><th>ParentID</th><th>Child(ren)IDs</th><th>Who</th><th>Created</th><th>BFabricID</th></tr>
<% if @project %>
<% @data_sets.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= link_to td(data_set.name), "/data_set/p#{@project.number}/#{data_set.id}" %></td> 
    <td class='check_box'><%= check_box "delete_flag", "#{data_set.id}", {:class=>'target'}, true, false %></td>
    <td>
      <%= data_set.completed_samples.to_i %> / <%= data_set.samples_length %>
    </td>
    <td><%= link_to data_set.parent_id, "/data_set/#{data_set.parent_id}" if data_set.data_set %></td>
    <td>
      <% data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == data_set.data_sets.last %>
      <% end %>
    </td>
    <% if user = data_set.user%>
      <td><%= user.login %></td>
    <% else %>
      <td>sushi_lover</td>
    <% end %>
    <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
    <td><%= data_set.bfabric_id %></td>
  </tr>
<% end %>
<% end %>
</table>
<% if @project and data_sets = @project.data_sets and data_sets.length > @data_sets.length %>
  <%= link_to "More...", "/data_set/index_full" %>
<% end %>
<% end %>
<% if @project and @data_sets.length > 20 %>
  </div/
<% end %>

