<h1>Project <%= session[:project] %></h1>
<hr />
<h3>Job Parameter</h3>
<% if @parameters_tsv and File.exist?(@parameters_tsv.to_s) %>
File: <%= @parameters_tsv.to_s %>
<% end %>
<table id="job_parameter" class="dt">
<tbody>
  <tr><th>Parameter</th><th>Value</th>
  <% if @parameters and !@parameters.empty? or File.exist?(@parameters_tsv.to_s) %>
    <% @parameters.each do |header, value| %>
    <tr>
      <td><%= header %></td><td><%= value %></td>
    </tr>
    <% end %>
  <% end %>
  </tr>
</tbody>
</table>
<hr />
<%= button_to 'Back to DataSet', "/data_set/#{@data_set.id}", :method=>:get, :class=>"btn btn-info btn-sm raised" %>


