<h1>Project <%= session[:project] %> <span style="color:gray;font-size:medium">Delete DataSet</span></h1>
<hr />
<% unless @parent_datasets.empty? %>
  <%= image_tag('back.gif') %>
  Back to parent DataSet(s):
  <% @parent_datasets.map do |parent_dataset| %>
    <%= link_to "#{parent_dataset.name}", "/data_set/#{parent_dataset.id}", :method=>:get %>
  <% end.join(" ") %>
<% end %>
<h3>Log</h3>
<% if @option[:only_sushi] == '1' %>
The following DataSets are removed from Sushi DataBase..
<ul>
  <% @deleted_data_sets.each do |deleted_data_set| %>
    <li><b><%= deleted_data_set.id %>.[<%= deleted_data_set.name %>]</b></li>
  <% end %>
</ul>
<% end %>
<% unless @commands.empty? %>
  <% if @option[:only_gstore] == '1' %>
    The following commands have been executed
    <pre>
    <% @commands.each do |command| %>
      <%= command %>
    <% end %>
    </pre>
    The followings are the command logs
    <pre>
    <% @command_logs.each do |log| %>
      <%= log %>
    <% end %>
    </pre>
  <% end %>
<% end %>
<table>
<hr />
<%= button_to "Show gStore", "/projects/p#{session[:project]}", :method=>:get, :class=>"btn btn-info btn-sm raised" %>
<%= link_to "/projects/p#{session[:project]}","/projects/p#{session[:project]}" %>

