<h1>Project <%= session[:project] %></h1>
<hr />
<h3>Job Script</h3>
<% if @job_list %>
<table>
  <tr><th>Job ID</th><th>Script</th><th>Log</th>
  <% @job_list.each do |job| %>
  <tr>
    <td><%= job[0] %></td>
    <td><%= link_to job[1], "/job_monitoring/print_script?job_id=#{job[0]}" %></td>
    <td><%= link_to job[2], "/job_monitoring/print_log?job_id=#{job[0]}" %></td>
  </tr>
  <% end %>
  </tr>
</table>
<% end %>
<%= button_to 'Show Job List', '/job_monitoring', :class=>"btn btn-info btn-sm raised" %>
<hr />


