<style>
/* M&M Generation Loading Overlay */
#mm-loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
#mm-loading-overlay.active {
  display: flex;
}
#mm-loading-content {
  background: white;
  padding: 40px 60px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  max-width: 400px;
}
#mm-loading-content h3 {
  margin: 0 0 20px 0;
  color: #333;
}
#mm-loading-content p {
  color: #666;
  margin: 10px 0;
  font-size: 14px;
}
.mm-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: mm-spin 1s linear infinite;
  margin: 0 auto 20px;
}
@keyframes mm-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mm-steps {
  text-align: left;
  margin-top: 20px;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 8px;
}
.mm-step {
  padding: 5px 0;
  color: #999;
}
.mm-step.active {
  color: #3498db;
  font-weight: bold;
}
.mm-step.done {
  color: #27ae60;
}
.mm-step::before {
  content: "○ ";
}
.mm-step.active::before {
  content: "● ";
}
.mm-step.done::before {
  content: "✓ ";
}
</style>

<script type="text/javascript">
$(document).ready(function(){
  var document_width=$("#contents").width();
  var table_width=$("#dataset_samples").width();
  if(table_width>document_width){
    $('.dt').DataTable({
      "scrollX": true,
      "columnDefs": [
        { "width": "100pt", "targets": 0 }
      ]
    });
    $('.dt_no_pager').DataTable({
      "scrollX": true,
      "paging": false,
      "columnDefs": [
        { "width": "100pt", "targets": 0 }
      ]
    });
  }else{
    $('.dt').DataTable({
      "columnDefs": [
        { "width": "100pt", "targets": 0 }
      ]
    });
    $('.dt_no_pager').DataTable({
      "paging": false,
      "columnDefs": [
        { "width": "100pt", "targets": 0 }
      ]
    });
  }
  $("#data_set_tree").jstree({
    'core':{
      'data':{
        url: "/data_set/partial_treeviews.<%= params[:id] %>"
      }
    }
  });
  $('#data_set_tree').on('mouseenter', '.jstree-icon', function() {
    var isClosed = $(this).closest('li').hasClass('jstree-closed');
    var tooltipText = isClosed ? 'open' : 'close';
    $(this).attr('title', tooltipText);
  });
  $(document).tooltip({
    items: ".jstree-icon",
    content: function() {
      return $(this).attr('title');
    }
  });
});

$(document).ready(function(){
    $("#whole_tree").click(function(){
      var tree_state = $("#tree_state").val();
      if(tree_state == "partial"){
        $("#tree_state").val("whole");
        $('#data_set_tree').jstree(true).settings.core.data.url = "/data_set/partial_treeviews2.<%= params[:id] %>";
        $("#data_set_tree").jstree(true).refresh();
      }else{
        $("#tree_state").val("partial");
        $('#data_set_tree').jstree(true).settings.core.data.url = "/data_set/partial_treeviews.<%= params[:id] %>";
        $("#data_set_tree").jstree(true).refresh();
      }
    });

    var samples_length = $("#data_set_samples_length").val();
    document.getElementById("hide_indicator").removeAttribute("class");
    if(parseInt(samples_length) > 5){
      $("#hide_show").hide();
      $("#hide").html("Show");
      $("#hide_indicator").addClass("arrow-down");

    }else{
      $("#hide_show").show();
      $("#hide").text("Hide");
      $("#hide_indicator").addClass("arrow-up");
    }

    $("#hide").click(function(){

        if ($("#hide_indicator").hasClass("arrow-up")){
          $("#hide_show").hide(500);
          $("#hide").text("Show");
        } else {
          $("#hide_show").show(500);
          $("#hide").text("Hide");
        }

        $("#hide_indicator").toggleClass("arrow-up arrow-down");

    });
    $("#show_sushi_app_button").click(function(){
        $("#show_sushi_app").show(500);
    });
    $("#add_comment").click(function(){
      var data_set_id = $("#data_set_id").val();
      var old_comment = $("#data_set_comment").val();
      var new_comment = prompt("add comment", old_comment);

      if (data_set_id != null && new_comment != null) {
        $.ajax({
               type: 'POST',
               url: '/data_set/add_comment',
               data: {'data_set_id':data_set_id, 'data_set_comment':new_comment},
               async : false
        });
      }
    });
    $("#edit_name").click(function(){
      var data_set_id = $("#data_set_id").val();
      var old_name = $("#data_set_name").val();
      var new_name = prompt("edit name", old_name);
      var prohibit_char = /[^a-zA-Z0-9_-]/;

      if(new_name.match(prohibit_char)){
        alert("WARNING: Only alphabets, numbers, underscore '_' and hyphen '-' are allowed");
      }else if(data_set_id != null && new_name != null) {
        $.ajax({
               type: 'POST',
               url: '/data_set/edit_name',
               data: {'data_set_id':data_set_id, 'data_set_name':new_name},
               async : false
        });
      }
    });
    $("#mod_bfab_data_set_id").click(function(){
      var data_set_id = $("#data_set_id").val();
      var old_bfab_data_set_id = $("#bfab_data_set_id").val();
      var new_bfab_data_set_id = prompt("new BFabric DataSetID", old_bfab_data_set_id);
      var prohibit_char = /[^0-9]/;

      if(new_bfab_data_set_id.match(prohibit_char)){
        alert("WARNING: Only numbers are allowed");
      }else if (data_set_id != null && new_bfab_data_set_id != null) {
        $.ajax({
               type: 'POST',
               url: '/data_set/mod_bfab_data_set_id',
               data: {'data_set_id':data_set_id, 'bfab_data_set_id':new_bfab_data_set_id},
               async : false
        });
      }
    });

    $('#btn_multi_delete').click(function () {
       var form = $('#multi_delete');
       form.submit();
    });

    $( "#download_dialog" ).dialog({
      width: 800,
      height: 300,
      position: { my: "left top", at: "left+200 top+100", of: "#whole_tree" },
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 300
      },
      hide: {
        effect: "explode",
        duration: 300
      }
    });
    $( "#opener" ).on( "click", function() {
      $( "#download_dialog" ).dialog( "open" );
    });

    // Merge datasets dialog
    $( "#merge_datasets_dialog" ).dialog({
      width: 600,
      height: 450,
      autoOpen: false,
      modal: true
    });
    $("#merge_datasets_btn").click(function(){
      $.ajax({
        type: 'GET',
        url: '/data_set/merge_dialog',
        data: {'id': $("#data_set_id").val()},
        success: function(data){
          $("#merge_datasets_dialog").html(data);
          $("#merge_datasets_dialog").dialog("open");
        },
        error: function(xhr, status, error){
          alert("Failed to load merge dialog: " + error);
        }
      });
      return false;
    });
});
</script>
<%= form_tag('/data_set/multi_delete', :id=>"multi_delete") do %>
  <%= hidden_field "delete_flag", "#{@data_set.id}" %>
<% end %>
<h3 id="whole_tree" style="display: inline">DataSet</h3>
<%= hidden_field :tree, :state, :value=>"partial" %>
- <%= link_to 'comment', '', :id=>"add_comment" %> 
- <%= link_to 'rename', '', :id=>"edit_name" %>
<%= hidden_field :data_set, :name, :value=>@data_set.name %>
<%= hidden_field :data_set, :id, :value=>@data_set.id %>
<%= hidden_field :data_set, :comment, :value=>@data_set.comment.to_s %>
<%= hidden_field :bfab_data_set, :id, :value=>@data_set.bfabric_id.to_s %>
- <a href="#" id="opener">download</a>
- <%= link_to 'scripts', "/data_set/script_log.#{@data_set.id}", :method=>:get %>
<% if session[:employee] %>
- <a href="#" id="merge_datasets_btn">merge with another dataset</a>
<% end %>
- <%= link_to 'parameters', "/data_set/job_parameter.#{@data_set.id}", :method=>:get %>
<% if session[:employee] and @data_set.job_parameters.present? %>
- <%= link_to "generate M&M", {:action=>"generate_mm", :id=>@data_set.id}, :id=>"generate_mm_link", :data=>{:confirm=>"Generate Materials & Methods document?\n\nThis uses AI to generate publication-ready text.\nIt may take 30 seconds to 1 minute."}, :method=>:post %>
<% end %>
<% if @data_set.data_set and @data_set.sushi_app_name %>
-  <%= link_to "resubmit", {:controller=>"run_application", :action=>"set_parameters", data_set_id: @data_set.data_set.id, resubmit_data_set_id: @data_set.id,  app: @data_set.sushi_app_name}, :method=>:post %>
<% end %>
- <a href="#" id="btn_multi_delete">delete</a>
<% if @can_register_bfabric %>
- <%= link_to "register in B-Fabric", {:action=>"register_bfabric", :id=>@data_set.id}, :data=>{:confirm=>"Are you sure you want to register this dataset? DataSet ID:#{@data_set.id}? It will take some seconds."}, :method=>:post %>
<% end %>
<% if session[:employee] and @data_set.workunit_id %>
- <%= link_to "update resource size", {:action=>"update_resource_size", :id=>@data_set.id}, :data=>{:confirm=>"Note: It will stop if workunit size != 0 and resouce is missing in gstore."}, :method=>:post %>
<% end %>
<% if session[:employee] %>
- <%= link_to "Set B-Fabric ID", '', :id=>"mod_bfab_data_set_id" %> 
  <% if !@data_set.data_set %>
  - <%= link_to "announce", {:action=>"announce_template_set", :id=>@data_set.id}, :method=>:post %>
  <% end %>
<% end %>
<% if @fgcz and current_user and current_user.login %>
- <%= link_to 'call GEO-uploader', "https://geo-uploader.fgcz.uzh.ch/sessions/new/datasets/#{@data_set.id}", target: "_blank" %>
<% end %>
<div id="download_dialog" title="Donwload links">
  <p>
    - Java downloader from B-Fabric:
  <% if @data_set.workunit_id %>
  <%= link_to "https://fgcz-bfabric.uzh.ch/bfabric/fragments/download-jnlp.html?workunitId=#{@data_set.workunit_id}", "https://fgcz-bfabric.uzh.ch/bfabric/fragments/download-jnlp.html?workunitId=#{@data_set.workunit_id}", target: "_blank" %>
  <% else %>
    not available
  <% end %>
  </p><p>
  - Direct http download:
  <% if @fgcz and current_user and current_user.login %>
    <% if @dataset_path.length > 1 %>
      <br>
      <% @dataset_path.each do |dataset_path| %>
        &nbsp;&nbsp; <%= link_to File.join("https://fgcz-gstore.uzh.ch/projects/", dataset_path.to_s), File.join("https://fgcz-gstore.uzh.ch/projects/", dataset_path.to_s), target: "_blank" %><br>
      <% end %>
    <% elsif @dataset_path.length == 1 %>
      <%= link_to File.join("https://fgcz-gstore.uzh.ch/projects/", @dataset_path.first.to_s), File.join("https://fgcz-gstore.uzh.ch/projects/", @dataset_path.first.to_s), target: "_blank" %>
    <% end %>
  <% else %>
    not available
  <% end %>
  </p>
  <p>
  - wget command:
  <% if @fgcz and current_user and current_user.login %>
    <% if @dataset_path.length > 1 %>
      <br>
      <% @dataset_path.each do |dataset_path| %>
        &nbsp;&nbsp; <%= text_field :wget, :command, :value => "wget --user #{current_user.login} -e robots=off --ask-password -r --no-parent -nH --cut-dirs=2 --reject='index.html*' #{File.join("https://fgcz-gstore.uzh.ch/projects/", dataset_path.to_s)}/", :size => 100 %><br>
      <% end %>
    <% elsif @dataset_path.length == 1 %>
      <%= text_field :wget, :command, :value => "wget --user #{current_user.login} -e robots=off --ask-password -r --no-parent -nH --cut-dirs=2 --reject='index.html*' #{File.join("https://fgcz-gstore.uzh.ch/projects/", @dataset_path.first.to_s)}/", :size => 85 %>
    <% end %>
  <% else %>
    not available
  <% end %>
  </p>
  <p>
  - scp command:
  <% if @fgcz and current_user and current_user.login %>
    <% if @dataset_path.length > 1 %>
      <br>
      <% @dataset_path.each do |dataset_path| %>
        &nbsp;&nbsp; <%= text_field :wget, :command, :value => "scp -r #{current_user.login}@fgcz-genomics.uzh.ch:#{File.join("/srv/gstore/projects/", dataset_path.to_s)} ./", :size => 100 %><br>
      <% end %>
    <% elsif @dataset_path.length == 1 %>
      <%= text_field :wget, :command, :value => "scp -r #{current_user.login}@fgcz-genomics.uzh.ch:#{File.join("/srv/gstore/projects/", @dataset_path.first.to_s)} ./", :size => 85 %><br>
    <% end %>
  <% else %>
    not available
  <% end %>
  </p>

  <p>
  - <%= link_to "Download dataset description table (click here)", {:action=>"save_as_tsv", :id=>@data_set.id}, :method=>:post %>
  </p>
</div>

<div id="hogehoge" class="jstree_container">
<ul id="data_set_tree" class="filetree jstree_box"></ul>
<ul class="dataset_info_box">
  <li>
    ID: <b><%= @data_set.id %></b>
  </li>
  <% if @data_set.sushi_app_name %>
  <li>
    App: <b><%= @data_set.sushi_app_name %></b>
  </li>
  <% end %>
  <li>
    Samples: <b><%= @data_set.samples.length %></b>
  </li>
  <li>
    Who: <b>
            <% if user = @data_set.user %>
              <%= user.login %>
            <% else %>
              sushi_lover
            <% end %>
        </b>
  </li>
  <li>
    Created: <b><%= @data_set.created_at.strftime("%Y-%b-%d") %></b>
  </li>
  <% if @data_set.bfabric_id %>
  <li>
      BFabricID:
      <b><%= link_to @data_set.bfabric_id, "https://fgcz-bfabric.uzh.ch/bfabric/dataset/show.html?id=#{@data_set.bfabric_id}&tab=details", target: "_blank" %></b>
  </li>
  <% end %>
  <% if @data_set.order_id %>
  <li>
      OrderID:
      <b><%= link_to @data_set.order_id, "https://fgcz-bfabric.uzh.ch/bfabric/order/show.html?id=#{@data_set.order_id}&tab=details", target: "_blank" %></b>
  </li>
  <% end %>
</ul>
</div>

<br class="jstree_container_clear" />
<br />
<h3 style="display: inline">
  <span id="data_set_title"><%= @data_set.name %></span> Content <button class="btn-link" id="hide">Hide</button><span id="hide_indicator" class="arrow-up"></span>
</h3>
<% unless @factor_columns.empty? %>
- <%= link_to 'edit factors', "/sample/#{@data_set.id}/edit_factor", :method=>:post %>
<% end %>
- <%= link_to 'edit table', "/sample/#{@data_set.id}", :method=>:post %>
<% if @dataset_path.length > 1 %>
  - data folder
  <% @dataset_path.each do |dataset_path| %>
    - <%= link_to dataset_path, File.join("/projects/", dataset_path.to_s) %>
  <% end %>
<% elsif @dataset_path.length == 1 %>
  - <%= link_to "data folder", File.join("/projects/", @dataset_path.first.to_s) %>
<% end %>
<div id="hide_show">
<% if @data_set %>
<% if @data_set.samples.length > 10 %>
<table id="dataset_samples" class="dt pure-table pure-table-bordered">
<% else %>
<table id="dataset_samples" class="dt_no_pager pure-table pure-table-bordered">
<% end %>
<thead class="sample">
  <tr>
    <% @data_set.factor_first_headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @data_set.samples.each do |sample| %>
    <tr>
      <% @data_set.factor_first_headers.each do |header| %>
        <td>
          <% unless @file_exist[sample.to_hash[header].to_s] %>
            <span class="alert"><%= File.basename(sample.to_hash[header].to_s) %></span>
          <% else %>
            <% file_path = sample.to_hash[header].to_s %>
            <% file_name = file_path.split(",").map { |f| File.basename(f)}.join(",") %>
            <% if header.tag?('Link') %>
              <% if file_path =~ /^http/ %>
                <%= link_to td(file_name), file_path, target: "_blank" %>
              <% else %>
                <%= link_to td(file_name), File.join('/projects', file_path) %>
              <% end %>
            <% elsif header.tag?('File') %>
               <%= td file_name %>
            <% elsif @sample_invalid_name[file_name] %>
               <span class="alert"><%= td file_name %></span>
            <% else %>
               <%= td file_path %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
<% end %>
</div>
<hr />

<% unless @file_exist.values.inject{|a,b| a and b}%>
  <% if @sample_path.length == 1 %>
    <%= button_to "Show gStore", File.join("/projects/", @sample_path.first), :method=>:get, :class=>"btn btn-info btn-sm raised" %>
  <% end %>
  <span class="alert">RED file(s) or the following does not exist in gstore:</span> <%= SushiFabric::GSTORE_DIR %><br />
  <ul>
  <% @file_exist.select{|file, exist| !exist}.each do |file, exist| %>
    <li><%= file %></li>
  <% end %>
  </ul>
    <hr />
<% end %>

<h3 style="display: inline">Applications</h3>
- <a href="" id="refresh_sushi_list">refresh</a>
<br />
<% unless @file_exist.values.inject{|a,b| a and b}%>
  <br />
  <% if session['employee'] %>
    <span class="alert">The missing file(s) listed above could cause a failure of the next job run.</span> 
    <button class="btn-link" id="show_sushi_app_button">Agree?</button>
  <% end %>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#show_sushi_app").hide();
  });
  </script>
<% end %>
<div id="show_sushi_app">
  <% if !@sample_invalid_name.keys.empty? %>
    <br />
    <ul>
      <li><span class="alert">Invalid character is used in sample name. Please correct it.</span></li>
      <li>Invalid characters: !@#$%^&*()<>{}[]/:;"='+| and SPACE</li>
    </ul>
  <% elsif @sushi_apps %>
    <br />
    <%= render :partial => '/data_set/sushi_application_list' %>
  <% end %>
</div>
<hr />

<!-- Merge Datasets Dialog -->
<div id="merge_datasets_dialog" title="Merge Datasets" style="display:none;"></div>

<!-- M&M Generation Loading Overlay -->
<div id="mm-loading-overlay">
  <div id="mm-loading-content">
    <div class="mm-spinner"></div>
    <h3>📝 Generating Materials & Methods</h3>
    <p>AI is writing publication-ready text...</p>
    <p style="font-size: 12px; color: #999;">This typically takes 30-60 seconds</p>
    <div class="mm-steps">
      <div class="mm-step active" id="mm-step-1">Collecting analysis data</div>
      <div class="mm-step" id="mm-step-2">Generating text with AI</div>
      <div class="mm-step" id="mm-step-3">Saving to gStore</div>
    </div>
    <p style="margin-top: 20px; font-size: 11px; color: #aaa;">Please do not close this page</p>
  </div>
</div>

<script>
$(document).ready(function() {
  // M&M Generation loading handler
  $('#generate_mm_link').on('click', function(e) {
    // Show loading overlay after confirmation
    setTimeout(function() {
      $('#mm-loading-overlay').addClass('active');
      
      // Animate steps
      setTimeout(function() {
        $('#mm-step-1').removeClass('active').addClass('done');
        $('#mm-step-2').addClass('active');
      }, 2000);
      
      setTimeout(function() {
        $('#mm-step-2').removeClass('active').addClass('done');
        $('#mm-step-3').addClass('active');
      }, 25000);
    }, 100);
  });
});
</script>
