<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
    url: "/data_set/treeviews.<%= params[:id] %>"
    });
});
</script>
<%= render 'shared/td' %>
<h1>Project <%= session[:project] %> <span style="color:red;font-size:medium">Delete DataSet</span></h1>
<hr />
<h2>Select</h2>
<%= form_tag(@data_set.id.to_s, :method=>:delete) do %>
  <%= radio_button 'option', 'delete', "only_sushi", {:checked => true} %> Delete <span class="alert">ONLY</span> entry in <span class="alert">Sushi DB</span><br />
  <% if @sample_path.first and File.exist?(File.join(SushiFabric::GSTORE_DIR, @sample_path.first)) and @data_set and @data_set.parent_id %>
  <%= radio_button 'option', 'delete', "also_gstore" %> Delete <span style="color:red;font-weight:bold;">BOTH</span> entry in <span class="alert">Sushi DB</span> and data in <span class="alert">GStore</span> <br /><br />
  <% end %>
  <%= submit_tag 'delete', :confirm=>"Are you sure you want to delete the '#{@data_set.name}'?" %>
<% end %>
<hr />
<h3>DataSet</h3>
<table>
  <tr><th>ID</th><th>Name</th><th>Samples</th><th>Parent</th><th>Child(ren)IDs</th><th>Created</th></tr>
  <% if @data_set %>
  <tr>
    <td><%= @data_set.id %></td>
    <td><%= @data_set.name %></td>
    <td><%= @data_set.samples.length %></td>
    <td><%= link_to td(@data_set.data_set.name), "/data_set/#{@data_set.parent_id}" if @data_set.data_set %></td>
    <td>
      <% @data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == @data_set.data_sets.last %>
      <% end %>
    </td>
    <td><%= @data_set.created_at.to_s.gsub(/UTC/,'') %></td>
  </tr>
  <% end %>
</table>
<ul id="data_set_tree" class="filetree"></ul>
<hr />
<h3>Samples</h3>
<% if @data_set %>
    <div style="width:830px; overflow-x:scroll;">
  <% if @data_set.samples.length > 20 %>
    <div style="height:450px; overflow-y:scroll;">
  <% end %>
<table>
  <tr>
    <% @data_set.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @data_set.samples.each do |sample| %>
    <tr>
      <% @data_set.headers.each do |header| %>
        <td>
          <% unless @file_exist[sample.to_hash[header].to_s] %>
            <font color=red><%= td(File.basename(sample.to_hash[header].to_s)) %></font>
          <% else %>
            <% file_path = sample.to_hash[header].to_s %>
            <% file_name = File.basename(file_path) %>
            <% if header and header.tag?('Link') %>
               <%= link_to td(file_name), File.join('/projects', file_path)  %>
            <% else %>
               <%= td(file_name) %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
  <% if @data_set.samples.length > 20 %>
    </div>
  <% end %>
    </div>
<% end %>
<hr />

<% unless @file_exist.values.inject{|a,b| a and b}%>
  <font color=red>The RED file(s) does not exist in gstore:</font> <%= SushiFabric::GSTORE_DIR %><br />
  <ul>
  <% @file_exist.select{|file, exist| !exist}.each do |file, exist| %>
    <li><%= file %></li>
  <% end %>
  </ul>
<% else %>
  <%= button_to "Go gstore", File.join("/projects/", @sample_path.first) if @sample_path.length == 1 %>
  <% @sample_path.sort.each do |path| %>
    <%= link_to "#{File.join('/projects/',path)}", File.join("/projects/", path) %>
  <% end %>

<% end %>


