
params <%= @params.inspect.to_s %><br /> <br />
<hr />
<h3>DataSet Edit (New)</h3>
<table>
  <tr>
    <th>ID</th><td><%= @data_set.id %></td>
  </tr><tr>
    <th>Name</th><td><%= @data_set.name %></td>
  </tr><tr>
  <th>Parent DataSet</th>
  <td>
    <% if @data_set.data_set %>
      <%= link_to("#{@data_set.data_set.name}[#{@data_set.data_set.id}]", "/data_set/#{@data_set.data_set.id}/edit") %>
    <% end %>
  </td>
  </tr><tr>
    <th>Child(ren) DataSet(s)</th>
    <td>
      <% @data_set.data_sets.each do |data_set|%>
        <%= link_to("#{data_set.name}[#{data_set.id}] ","/data_set/#{data_set.id}/edit") %>
      <% end %>
    </td>
  </tr>
</table>
<%= link_to("Delete Parent Relation", "/data_set/#{@data_set.id}/edit?delete_parent_id=#{@data_set.data_set.id}") if @data_set.data_set %>

