<h3>Sample Delete (Test)</h3>
<hr />
params <%= @params.inspect.to_s %><br /> <br />
<hr />
<%= form_tag({:action => :edit}, {:method => :get}) do %>
  <table>
    <tr><th>ID</th><th>Name</th><th>Path</th></tr>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= check_box_tag "sample_id[]", sample.id, false %></td>
        <td><%= sample.name %></td>
        <td><%= sample.path %></td>
      </tr>
    <% end %>
  </table>
  <br />
  <br />
  <%= submit_tag 'Run Application' %>
<% end %>


<hr />
<h3>DataSets Edit (New)</h3>


<form method="post" action="/data_set/add_or_delete">
<table>
  <tr><th>Data Set 1</th><td></td><th>All Samples</th></tr>
  <tr><td>
      <select name='data_sets[]' size=10 multiple>
        <% @data_sets.select{|ds| ds.id==1}.each do |data_set| %>
          <% data_set.data_lists.each do |data_list| %>
            <option value='<%= data_set.id %>,<%= data_list.sample.id%>'><%= data_list.sample.name %></option>
          <% end %>
        <% end %>
      </select>
  </td><td align=center>
      <input type=submit name='method' value='   add    ' /><br />
      <input type=submit name='method' value='  delete  ' /><br />
  </td><td>
      <select name='samples[]' size=10 multiple>
        <% @samples.each do |sample| %>
          <option value='1,<%= sample.id%>'><%= sample.name %></option>
        <% end %>
      </select>
</td></tr></table>
</form>

<hr />
<h3>DataSets Edit (Old)</h3>
<p>
<% @data_sets.each do |data_set| %>
  [id] <%= data_set.id %>, [note] <%= data_set.note %>:<br />
  <ul>
  <% data_set.data_lists.each do |data_list| %>
    <li>[data_list_id] <%= data_list.id %>, [sample] <%= data_list.sample.name %>, [path] <%= data_list.sample.path %></li>
  <% end %>
  </ul>
<% end %>
</p>

<hr />
<h3>Samples</h3>
<p>
<% @samples.each do |sample| %>
  [id] <%= sample.id %>, [name] <%= sample.name %>, [path] <%= sample.path %><br />
<% end %>
</p>

<hr />
<h3>Add DataSet</h3>
<form method="post" action="/data_set/add">
  DataSet ID: <input type=text name=data_set_id size=3 /> Sample ID: <input type=text name=sample_id size=3 />
 <input type="submit" value="Add" />
</form>
<!--
Test Field: <%= text_field_tag :test %> <%= @params.inspect.to_s %>
<%= button_to('Add', :action => 'add') %><br />
-->
<hr />
<h3>Delete DataSet</h3>
<form method="post" action="/data_set/delete">
  DataSet ID: <input type=text name=data_set_id size=3 /> Sample ID: <input type=text name=sample_id size=3 /> 
 <input type="submit" value="Delete" />
</form>
<!--
<%= button_to('Delete Last One', :action => 'delete') %><br />
-->


