<h1>Project <%= session[:project] %></h1>
<h3>Import DataSet</h3>
<h4>File selection</h4>
<%= form_tag('/data_set/import', :multipart => true) do %>
<%= file_field :file, :name %>
DataSet Name: <%= text_field :dataset, :name, :size=>10 %>
Parent DataSet ID: <%= text_field :parent, :id, :size=>10 %>
<%= submit_tag 'load' %>
<% end %>

<hr />
<h4>All DataSets ( Project <%= session[:project] %> )</h4>
<table>
  <tr><th>ID</th><th>Name</th><th>MD5</th><th>ParentID</th><th>Created</th></tr>
<% @project.data_sets.reverse.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= link_to data_set.name, "/data_set/#{data_set.id}" %></td>
    <td><%= data_set.md5 %></td><td><%= data_set.parent_id %></td>
    <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
<% end %>
</table>

