<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
      url: "/data_set/treeviews"
    });
});
</script>

<%= stylesheet_link_tag "data_set" %>
<h1>DataSet Structure</h1>
<hr />

<br />
<pre>
   (Children)
  +--* DataSet 1------* Sample
  |       1 (Parent)
  |       |
  +-------+
</pre>
<br />

<hr />
<h3>DataSet</h3>
<table>
	<tr>
		<th>ID</th>
	 	<th>Name</th>
	 	<th>Note</th>
	 	<th>Parent DataSet (ID)</th>
	 	<th>Children DataSet (IDs)</th>
		<th>Creation</th>
		<th>Modification</th>
	</tr>
<% @data_sets.each do |data_set| %>
	<tr>
		<td><%= data_set.id %></td>
    <td><%= link_to data_set.name, "/data_set/#{data_set.id}/edit" %></td>
		<td><%= data_set.data_set.id if data_set.data_set %></td>
    <td><%= data_set.data_sets.map{|child| child.id} if data_set.data_sets %></td>
		<td><%= data_set.created_at.to_s[0..9] %></td>
		<td><%= data_set.updated_at.to_s[0..9] %></td>
	</tr>
<% end %>
</table>
<hr />

<ul id="data_set_tree" class="filetree"></ul>

<hr />

<h3>Sample</h3>
<table>
	<tr>
		<th>ID</th>
		<th>Creation</th>
		<th>Modification</th>
	</tr>
<% @samples.each do |sample| %>
    <tr>
        <td><%= sample.id %></td>
        <td><%= sample.created_at.to_s[0..9] %></td>
        <td><%= sample.updated_at.to_s[0..9] %></td>
    </tr>
<% end %>
</table>

