<h1>Project <%= session[:project] %></h1>
<h3>DataSet</h3>
<table>
  <tr><th>ID</th><th>Name</th><th>MD5</th><th>ParentID</th></tr>
<% @project.data_sets.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= data_set.name %></td>
    <td><%= data_set.md5 %></td>
    <td><%= data_set.parent_id %></td>
  </tr>
<% end %>
</table>


