<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
      url: "/data_set/treeviews"
    });
});
</script>

<h1>Project <%= session[:project] %></h1>
<h3>DataSet</h3>
<table>
  <tr><th>ID</th><th colspan=2>Name</th><th>Samples</th><th>ParentID</th><th>Child(ren)IDs</th><th colspan=2>Created</th></tr>
<% @project.data_sets.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= link_to data_set.name, "/data_set/#{data_set.id}" %></td>
    <td><%= button_to 'edit', "/data_set/#{data_set.id}/edit", :method=>:get %></td>
    <td><%= data_set.samples.length %></td>
    <td><%= link_to data_set.parent_id, "/data_set/#{data_set.parent_id}" if data_set.parent_id %></td>
    <td>
      <% data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == data_set.data_sets.last %>
      <% end %>
    </td>
    <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
    <!--<td><%= button_to "delete", "/data_set", :method=>:get, :onclick=>"return confirm('Are you sure to delete #{data_set.name}?');" %></td>-->
  </tr>
<% end %>
</table>

<ul id="data_set_tree" class="filetree"></ul>
