<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
      url: "/data_set/treeviews"
    });
});

$(document).ready(function() {
      $('#checkall').click(function(e) {
        if($(this).attr("checked")){
            $('.target').each(function() {
                    $(this).attr("checked", "checked");
            });
          }else{
            $('.target').each(function() {
                    $(this).removeAttr('checked');
            });
          }
      });

  });


$(function(){
  $('#btn_multi_delete').click(function(){
    var flag=false;
    $('.target').each(function() {
       if($(this).attr("checked")){
         flag=true;
         return false;
       }
    });
    if(flag==true){
      // selected at least one
      $('#multi_delete').submit();
    }else{
      // no selected
      alert('Please select at least one DataSet.');
    }
  });
})
</script>

<%= render 'shared/td' %>

<h1>Project <%= session[:project] %></h1>
<h3>DataSet</h3>
<% if @project.data_sets.length == @data_sets.length %>
<ul id="data_set_tree" class="filetree"></ul>
<% else %>
  <%= link_to "Tree view...", "/data_set/index_full" %>
<% end %>
<% if @project and @data_sets.length > 20 %>
  <div style="height:800px; overflow-y:scroll;">
<% end %>
<%= form_tag('/data_set/multi_delete', :id=>"multi_delete") do %>
<table>
  <tr><th>ID</th><th>Name</th><th nowrap><button type="button" id="btn_multi_delete">delete</button> all<%= check_box 'delete_all_flag', 'all', {:id=>'checkall'}, true, false %></th><th>Samples</th><th>ParentID</th><th>Child(ren)IDs</th><th colspan=2>Created</th></tr>
<% if @project %>
<% @data_sets.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= link_to td(data_set.name), "/data_set/#{data_set.id}" %></td> 
    <td class='check_box'><%= check_box "delete_flag", "#{data_set.id}", {:class=>'target'}, true, false %></td>
    <td>
      <% if @sample_available[data_set] and @sample_available[data_set] < data_set.samples.length %>
        <span class="alert"><%= @sample_available[data_set] %></span>
      <% else %>
        <%= @sample_available[data_set] %>
      <% end %>
      /<%= data_set.samples.length %>
    </td>
    <td><%= link_to data_set.parent_id, "/data_set/#{data_set.parent_id}" if data_set.data_set %></td>
    <td>
      <% data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == data_set.data_sets.last %>
      <% end %>
    </td>
    <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
  </tr>
<% end %>
<% end %>
</table>
<% if @project.data_sets.length > @data_sets.length %>
  <%= link_to "More...", "/data_set/index_full" %>
<% end %>
<% end %>
<% if @project and @data_sets.length > 20 %>
  </div/
<% end %>

