<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
      url: "/data_set/treeviews"
    });
});
</script>

<h1>Project <%= session[:project] %></h1>
<h3>DataSet</h3>
<ul id="data_set_tree" class="filetree"></ul>
<table>
  <tr><th>ID</th><th colspan=3>Name</th><th>Samples</th><th>ParentID</th><th>Child(ren)IDs</th><th colspan=2>Created</th></tr>
<% if @project %>
<% @project.data_sets.reverse.each do |data_set| %>
  <tr>
    <td><%= data_set.id %></td>
    <td><%= link_to data_set.name, "/data_set/#{data_set.id}" %></td> 
    <td><span style="color:gray;font-size:smaller">[<%= data_set.headers.join(',') %>]</span></td>
    <td>
      <%= button_to 'delete', "/data_set/delete.#{data_set.id}", :method=>:post %>
    </td>
    <td>
      <% if @sample_available[data_set] < data_set.samples.length %>
        <span class="alert"><%= @sample_available[data_set] %></span>
      <% else %>
        <%= @sample_available[data_set] %>
      <% end %>
      /<%= data_set.samples.length %>
    </td>
    <td><%= link_to data_set.parent_id, "/data_set/#{data_set.parent_id}" if data_set.data_set %></td>
    <td>
      <% data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == data_set.data_sets.last %>
      <% end %>
    </td>
    <td><%= data_set.created_at.to_s.gsub(/UTC/,'') %></td>
    <!--<td><%= button_to "delete", "/data_set", :method=>:get, :onclick=>"return confirm('Are you sure to delete #{data_set.name}?');" %></td>-->
  </tr>
<% end %>
<% end %>
</table>

