<script type="text/javascript">
$(document).ready(function(){
  $("#data_set_tree").treeview({
    url: "/data_set/treeviews.<%= params[:id] %>"
    });
});
</script>

<h1>Project <%= session[:project] %></h1>
<hr />
<h3>DataSet</h3>
<table>
  <tr><th>ID</th><th>Name</th><th>Samples</th><th>ParentID</th><th>Child(ren)IDs</th><th>Created</th></tr>
  <% if @data_set %>
  <tr>
    <td><%= @data_set.id %></td>
    <td><%= @data_set.name %></td>
    <td><%= @data_set.samples.length %></td>
    <td><%= link_to @data_set.parent_id, "/data_set/#{@data_set.parent_id}" if @data_set.parent_id %></td>
    <td>
      <% @data_set.data_sets.each do |child| %>
        <%= link_to child.id, "/data_set/#{child.id}" %>
        <%= "," unless child == @data_set.data_sets.last %>
      <% end %>
    </td>
    <td><%= @data_set.created_at.to_s.gsub(/UTC/,'') %></td>
  </tr>
  <% end %>
</table>
<ul id="data_set_tree" class="filetree"></ul>
<hr />
<h3>Samples</h3>
<% if @data_set %>
<table>
  <tr>
    <% @data_set.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @data_set.samples.each do |sample| %>
    <tr>
      <% @data_set.headers.each do |header| %>
        <td>
          <% unless @file_exist[sample.to_hash[header].to_s] %>
            <font color=red><%= File.basename(sample.to_hash[header].to_s) %></font>
          <% else %>
            <%= File.basename(sample.to_hash[header].to_s) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>
<hr />

<% unless @file_exist.values.inject{|a,b| a and b}%>
  <font color=red>The RED file(s) does not exist in gstore:</font> <%= GSTORE_DIR %><br />
  <ul>
  <% @file_exist.select{|file, exist| !exist}.each do |file, exist| %>
    <li><%= file %></li>
  <% end %>
  </ul>
<% else %>
  <%= button_to "Go gstore", File.join("/gstore/projects/", @sample_path.first) if @sample_path.length == 1 %>
  <% @sample_path.sort.each do |path| %>
    <%= link_to "#{File.join('/gstore/projects/',path)}", File.join("/gstore/projects/", path) %>
  <% end %>
<% end %>

