<h2>Confirmation</h2>
<!--
<h3> debug print </h3>
params <%= @params.inspect.to_s %><br /><br />
sushi_app class <%= @sushi_app.class %><br /><br />
-->
<%= form_tag(:action => 'submit_jobs') do %>
  <%= hidden_field :sushi_app, :class, :value => @sushi_app.class %>
  <%= hidden_field :data_set, :id, :value => @data_set.id %>
  <%= hidden_field :next_dataset, :name, :value => @sushi_app.next_dataset_name %>
  <%= hidden_field :next_dataset, :comment, :value => @sushi_app.next_dataset_comment %>
  <% @sushi_app.params.each do |key, value| %>
    <%= hidden_field :parameters, key.to_sym, :value => value %>
  <% end %>
  <% if @requires %>
    <ul>
    <% @requires.keys.each do |required| %>
      <li>Parameter <b><font color=red><%= required %></font></b> is required</li>
    <% end %>
    </ul>
    <%= button_to 'Back', "#", :id=>"history_back" %>

    <%= javascript_tag do %>
      $("#history_back").click(function() {
        history.back()
        return false;
      });
    <% end %>

  <% elsif @uploaded_file_name %>
    <ul>
      <li>The uploaded file (<font color=red><%= @uploaded_file_name %></font>) size = <b><font color=red><%= "%.1f" % (@uploaded_file_size.to_f/(2**20)) %>MB</font></b> should be < <b>10MB</b></li>
    </ul>
    <%= button_to 'Back', "#", :id=>"history_back" %>

    <%= javascript_tag do %>
      $("#history_back").click(function() {
        history.back()
        return false;
      });
    <% end %>

  <% else %>
    <%= submit_tag 'Submit', :name=>'submit_type', :class=>"btn btn-danger btn-sm raised" %>
    <% if session[:employee] %>
      <%= submit_tag 'MockRun', :name=>'submit_type', :class=>"btn btn-info btn-sm raised" %>
    <% end %>
  <% end %>
<% end %>

<h2>Next DataSet</h2>
<table>
  <tr>
    <th>Name</th>
    <td><%= @sushi_app.next_dataset_name %></td>
  </tr>
  <tr>
    <th>Comment</th>
    <td><%= @sushi_app.next_dataset_comment %></td>
  </tr>
</table>
<h2>Input DataSet</h2>
<div id="scroll">
<table>
  <tr>
    <% @data_set.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @data_set.samples.each do |sample| %>
    <tr>
      <% @data_set.headers.each do |header| %>
        <td><%= File.basename(sample.to_hash[header].to_s) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
<h2>Application</h2>
<%= @sushi_app.class %>
<h2>Parameters</h2>
<table>
<% @sushi_app.params.each do |key, value| %>
  <tr>
    <th><%= key %></th>
    <td>
      <% if @requires and @requires[key] %>
        <font color=red>required</font>
      <% else %>
        <%= value %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />

