<script type="text/javascript">
   $(function(){
       $('#parameters_grouping').change(function(){
           var group_name = $("#parameters_grouping").val();
					 var data_set_id = $("#data_set_id").val();
           $.get("/run_application/factor_select?grouping=" + group_name + "&data_set_id=" + data_set_id);
       })

       $('#parameters_sampleGroup, #parameters_refGroup').change(function(){
           var next_dataset_name = $("#next_dataset_name").val();
           var sample_group = $("#parameters_sampleGroup").val();
           var ref_group = $("#parameters_refGroup").val();
           if(sample_group != '' && ref_group != ''){
             next_dataset_name = next_dataset_name.replace(/_[0-9a-zA-Z]+?--over--.+/g, '');
             next_dataset_name = next_dataset_name + "_" + sample_group + "--over--" + ref_group;
             $('#next_dataset_name').val(next_dataset_name);
           }
       })
   });

</script>

<h1>Project <%= session[:project] %></h1>
<hr />
<h2><%= @sushi_app.class %> <span style="color:gray;font-size:medium">Set Parameters</span></h2>
<blockquote>
  <%= @sushi_app.description.to_s.html_safe %>
</blockquote>
<hr />
<%= form_tag(:action => 'confirmation') do %>
  <%= hidden_field :sushi_app, :class, :value => @sushi_app.class %>
  <%= hidden_field :data_set, :id, :value => @data_set.id %>
  <h3>Next DataSet</h3>
    <table>
      <tr>
        <th>Name</th>
        <td><%= text_field :next_dataset, :name, :value => [@sushi_app.name, @data_set.id].join('_').gsub(/\s/,'') %></td>
      </tr>
      <tr>
        <th>Comment</th>
        <td><%= text_field :next_dataset, :comment, :value => "" %></td>
      </tr>
    </table>
  <h3>Parameters</h3>
    <table>
      <% @sushi_app.params.each do |key, value| %>
        <tr>
          <th><%= key %></th>
          <td>
          <% case key %>
          <% when 'ram' %>
            <%= text_field :parameters, key.to_sym, :value => "#{value}" %> GB
          <% when 'scratch' %>
            <%= text_field :parameters, key.to_sym, :value => "#{value}" %> GB
          <% when 'process_mode' %>
            <% if value.kind_of?(Array)%>
              <%= select :parameters, key.to_sym, value %>
            <% else %>
              <%= text_field :parameters, key.to_sym, :value => value, :disabled => true %>
            <% end %>
          <% when 'node' %>
            <% if session['employee'] %>
            <%= select_tag "parameters[#{key}]", options_for_select(@nodes), :multiple => true, :size => 10 %><br />
            (Grid Engine Status: <%= link_to 'http://fgcz-s-021.uzh.ch/cgi-bin/fgcz_ge_info.py', 'http://fgcz-s-021.uzh.ch/cgi-bin/fgcz_ge_info.py' %>)
          <% else %>
            <%= @nodes.values.join(',') %>
            <%= hidden_field :parameters, :node, :value => @nodes.values.join(',') %>
          <% end %>
          <% else %>
            <% if @factors and key=='grouping' %>
              <%= select :parameters, :grouping, options_for_select(@factor_colums.keys.map{|factor| [factor.split.first, factor.split.first]}, params[:grouping]),  :prompt => "please select" %>
            <% elsif @factors and key=='sampleGroup' %>
              <%= render :partial => '/run_application/select_sample_group' %>
            <% elsif @factors and key=='refGroup' %>
              <%= render :partial => '/run_application/select_ref_group' %>
            <% elsif key=='refBuild' and value.instance_of?(Hash) %>
              <%= select :parameters, key.to_sym, value.map{|k,v| [k.to_s.split(//)[0,90].join, v]}, :selected => '' %>
            <% elsif value.instance_of?(TrueClass) or value.instance_of?(FalseClass) %>
              <%= select :parameters, key.to_sym, ['true', 'false'], :selected => value.to_s %>
            <% elsif value.instance_of?(Array) %>
              <%= select :parameters, key.to_sym, value, :selected => value.first %>
            <% elsif value.instance_of?(Hash) %>
              <%= select :parameters, key.to_sym, value, :selected => '' %>
            <% else %>
              <%= text_field :parameters, key.to_sym, :value => "#{value}" %>
            <% end %>
          <% end %>

          <% if @sushi_app.required_params and @sushi_app.required_params.include?(key) %>
            <font color=red>required</font>
          <% end %>
          <font color=gray><%= @sushi_app.params[key, 'description'].to_s %></font>
        </td>
        </tr>
      <% end %>
    </table>
  <br />
  <br />
  <%= submit_tag 'Next' %>
<% end %>


