<div id="header">
  <nav id="login">
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    -
    <%= link_to "Today's Menu", "/" %>
    <%= form_tag(:action => "index", :controller => "home") do %>
      Project 
      <%= text_field :project, :number, :value=>"#{session[:project]}", :size=>10 %>
      <%= select :select_project, :number, session[:projects], :prompt=>'project list' %>
      <%= submit_tag "Go" %>
    <% end %>
  <% elsif `hostname`.chomp !~ /fgcz-s-034/ %>
    <%= link_to "Today's Menu", "/" %>
  <% end %>
  </nav>
  <h1>SushiFabric</h1>
</div>
