<h1>Today's Menu <span style="color:gray;font-size:15pt">Project <%= session[:project] %></span></h1>
<%= current_user.login %><br />
<%= current_user.selected_project %><br />
<table class="pages_presentation">
  <tr>
    <td class="page">
      <%= link_to image_tag('sushi_icons/tamago.png'), '/data_set', :method => :get %>
      <h1><%= link_to 'DataSet', '/data_set', :method => :get %></h1>
      <p>
        You can see, edit and delete DataSet.
      </p>
    </td>
    <td class="page">
      <%= link_to image_tag('sushi_icons/tako.png'), '/data_set/import', :method => :post %>
      <h1><%= link_to 'Import DataSet', '/data_set/import', :method => :post %></h1>
      <p>
        Import DataSet from .tsv file.
      </p>
    </td>
<!--
    <td class="page">
      <%= link_to image_tag('sushi_icons/tamago.png'), project_index_path %>
      <h1><s>Projects</s> <font color='red'>SOLD OUT</font></h1>
      <p>
        List all the available projects.<br />
        Allows to access samples, extracts and resources in cascade..
      </p>
    </td>
    <td class="page">
      <%= link_to image_tag('sushi_icons/kappamaki.png'), '/data_set/create' %>
      <h1><s>Your Plate</s> <font color='red'>SOLD OUT</font></h1>
      <p>
        List all the sushis in your plate.<br />
        You can assemble them to create data sets.
      </p>
    </td>
-->
  </tr>
  <tr>
    <td class="page">
      <%= link_to image_tag('sushi_icons/temaki.png'), '/run_application' %>
      <h1><%= link_to 'Run Applications', '/run_application' %></h1>
      <p>
        Run an application on a data set.
      </p>
    </td>
    <td class="page">
      <%= link_to image_tag('sushi_icons/maguro.png'), '/job_monitoring' %>
      <h1><%= link_to 'Check Jobs', '/job_monitoring' %></h1>
      <p>
        Check your submitted jobs and the status.
        You can add the result as a new data set.
      </p>
    </td>
  </tr>
  <tr>
    <td class="page">
      <%= link_to image_tag('sushi_icons/uni.png'), "/gstore/projects/p#{session[:project]}" %>
      <h1><%= link_to 'gStore', "/gstore/projects/p#{session[:project]}" %></h1>
      <p>
        Go directly result folder.
        You can see and download files of result data.
      </p>
    </td>
    <td></td>
  </tr>
</table>
