<h1>Sushi Rank</h1>
Counted since <%= @first_date %>
<hr />
<table>
  <tr>
    <th>Rank</th><th>Name</th><th>Submitting</th>
  </tr>
<% @rank.each_with_index do |name_count, i| %>
  <tr>
    <td>
      <%= i+1 %>
    <% if i==0 %>
      <font color=red> *<%= "The Sushi Master!" %> *</font>
    <% end %>
    </td>
    <td><%= name_count[0] %></td>
    <td><%= name_count[1] %></td>
  </tr>
<% end %>
</table>
