<!DOCTYPE html>

<html>
<head>
  <title>SUSHI</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag('favicon.ico') %>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" >
  <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>
<body>
  <% if flash[:alert].present? && flash[:alert] != "You need to sign in or sign up before continuing." %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice].present? %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>

  <div id="wrapper">
    <%= render 'shared/header' %>
    <div id="contents">

       <% if alert %>
       <p class="alert" onClick="$('.alert').slideUp()"><%= alert %></p>
       <% elsif notice %>
       <p class="notice" onClick="$('.notice').slideUp()"><%= notice %></p>
       <% end %>

       <%= yield %>

    </div>
    <%= render 'shared/footer' %>
  </div>

</body>
</html>
