<% if @fgcz %>
  <h2>Index of <%= link_to File.join(@base, @path), "https://fgcz-gstore.uzh.ch/projects/#{@path}" %></h2>
<% else %>
<h2>Index of <%= File.join(@base, @path) %></h2>
<% end %>
<table>
<hr />
  <tr>
    <td><%= image_tag('back.gif') %>  <%= link_to 'Parent Directory', "#{File.join(@base, @parent)}" %></td>
    <td></td><td></td>
  </tr>
  <tr>
    <td><%= link_to 'Name', "#{File.join(@base, @path)}.#{@current_page}:Name" %></td>
    <td><%= link_to 'Last Modified', "#{File.join(@base, @path)}.#{@current_page}:Last_Modified" %></td>
    <td><%= link_to 'Size', "#{File.join(@base, @path)}.#{@current_page}:Size" %></td>
  </tr>
<% @files.each do |file| %>
  <tr>
  <% basename = File.basename(file) %>
  <% if File.directory?(file) %>
    <td><%= image_tag('folder.gif') %>  <%= link_to basename, "#{File.join(@base, File.join(@path, basename))}" %></td>
    <td><%= File.mtime(file) %></td>
    <td>-</td>
  <% else %>
    <td>
    <%= image_tag('unknown.gif') %>  <%= link_to basename, "#{File.join(@base, File.join(@path, basename))}" %>

    <% if basename =~ /dataset\.tsv/ %>
      <%= link_to image_tag('add.png'), "/import/#{File.join(@path, basename)}" %>
    <% end %>
    </td>
    <td><%= File.mtime(file) %></td>
    <td><%= number_to_human_size(File.size(file)) %></td>
  <% end %>
  </tr>
<% end %>
  </tr>
</table>
<hr />
<%= form_tag(["/projects", params[:project_id],params[:dirs].to_s].join("/"), {:method=>:get}) do %>
<table>
  <tr>
    <td>
      Total: <%= @total %> files, 
      Page: 
      <% @page_list.each do |page| %> 
        <% if page == @current_page.to_i %>
          <%= page %>
        <% else %>
          <%= link_to page, "#{File.join(@base, @path)}.#{page}:#{@sort.to_s}:nr" %>
        <% end %>
      <% end %>
    </td>
    <td> <%= select :page, :unit, {"10" => 10, "50" => 50, "100" => 100, "300" => 300}, :selected => @page_unit %></td>
  </tr>
</table>
<% end %>
<hr />
<%= link_to 'Project Root', "#{File.join(@base, params[:project_id])}" %>
