
<h1>SushiFabric Constants</h1>
SushiFabric::WORKFLOW_MANAGER = <%= SushiFabric::WORKFLOW_MANAGER %><br />
SushiFabric::GSTORE_DIR = <%= SushiFabric::GSTORE_DIR %><br />
SushiFabric::SCRATCH_DIR = <%= SushiFabric::SCRATCH_DIR %><br />
SushiFabric::SUSHI_APP_DIR = <%= SushiFabric::SUSHI_APP_DIR %><br />

<h1>Ruby, Rails Constants</h1>
RUBY_VERSION = <%= RUBY_VERSION %><br />
which ruby = <%= `which ruby` %><br />
Rails.version = <%= Rails.version %><br />
which python = <%= `which python` %><br />
which g-req = <%= `which g-req` %><br />
which conda = <%= `which conda` %><br />
whoami = <%= `whoami` %><br />
Am I employee?(session[:employee]) = <%= session[:employee] %><br />
<% if current_user %>
current_user.login = <%= current_user.login %><br />
FGCZ.employee?('<%= current_user.login %>') = <%= FGCZ.employee?(current_user.login) %><br />
<% end %>
