
<% content_for :head do %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>
<h1>Sushi Rank</h1>
Counted since <%= @first_date %> (Reset: <%= @rank_reset_date.strftime('%Y-%m-%d') %>)
<hr />
<table>
  <tr>
    <th>Rank</th><th>Name</th><th>Submitting (<%= Time.now.strftime("%Y-%m") %>)</th><th>Submitting (Total)</th>
  </tr>
<% @rank.each_with_index do |name_count, i| %>
  <tr>
    <td>
      <%= i+1 %>
    <% if i==0 %>
      <font color=red> *<%= "The SUSHI Master!" %>*</font>
    <% end %>
    <% if name_count[0] == @mvp %>
      <font color=blue> *<%= "Monthly MVP!" %>*</font>
    <% end %>
    </td>
    <td><%= name_count[0] %></td>
    <td><%= @monthly_mvp[name_count[0]] %></td>
    <td><%= name_count[1] %></td>
  </tr>
<% end %>
</table>
<%= column_chart @count_month,
  ytitle: "#Submitted Jobs"
%>
<%= column_chart @count_users,
  ytitle: "#New Users"
%>
<%= line_chart @total_users,
  ytitle: "#Total number of Users"
%>
