<!-- app/views/devise/sessions/new.html.erb -->
<% if flash[:alert] %>
  <script type="text/javascript">
    alert('<%= j flash[:alert] %>');
  </script>
<% end %>

<div id="login_form_wrapper">
  <div id="login_form">
    <div id="info">
      <h1>Sign in to <em>SUSHI</em></h1>
      
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <p>
          <input id="user_login" name="user[login]"
                 size="30" type="text" value=""
                 placeholder="B-Fabric Username; e-mail is not accepted"/>
        </p>

        <p>
          <input id="user_password" name="user[password]"
                 size="30" type="password"
                 placeholder="Password"/>
        </p>
        <p>
          <input name="user[remember_me]" type="hidden" value="0" />
          <!--
          <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
          <label for="user_remember_me">Remember me on this computer</label>
          -->
        </p>
          <p><%= f.submit "Sign in", :class => 'btn btn-primary' %></p>
      <% end %>
    </div>
    <div id="links">
      <p><%= link_to tooltip("Read the original SUSHI paper", "Masaomi Hatakeyama, Lennart Opitz, Giancarlo Russo, Weihong Qi, Ralph Schlapbach and Hubert Rehrauer, SUSHI: an exquisite recipe for fully documented, reproducible and reusable NGS data analysis, BMC Bioinfomatics, 17:228, 2016"), "https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-016-1104-8" %></p>
        <p><a href="/sushi_doc_md.html">SUSHI Document</a></p>
        <p>Google search keyword hint: <a href="https://www.google.com/#q=sushi+fgcz">SUSHI FGCZ</a></p>
    </div>
    <%= button_to "View Demo", "https://fgcz-sushi-demo.uzh.ch", :class => 'btn btn-info' %>
<!--
    <div id="links">
      <p>If you don't have an account <a href="/users/sign_up">sign up</a> now.</p>
      <p><a href="/users/password/new">Forgot your password</a>?</p>
    </div>
-->
  </div>
</div>
