<!DOCTYPE html>

<html>
<head>
  <title>Sushi</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery.treeview' %>
  <%= javascript_include_tag 'jquery.treeview.edit' %>
  <%= javascript_include_tag 'jquery.treeview.async' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <%= render 'shared/header' %>
    <div id="contents">

       <% if alert %>
       <p class="alert" onClick="$('.alert').slideUp()"><%= alert %></p>
       <% elsif notice %>
       <p class="notice" onClick="$('.notice').slideUp()"><%= notice %></p>
       <% end %>

       <%= yield %>

    </div>
    <%= render 'shared/footer' %>
  </div>

</body>
</html>
